<div class="container" role="main">
<% @queues.keys.each do |queue| %>
<article class="span12">
	<h1><%= queue %></h1>
	<!-- working -->
	<article class="span8">
			<% @queues[queue].each do |info| %>
				<% if info.status == 'working' %>
					<div class="alert alert-info">
						<button class="close" data-dismiss="alert" type="button" onclick="kill_job(this, '<%= info.uuid %>')">×</button>
						<%= info.uuid %>: <%= info.options["purpose"] %> : <%= info.options["testcase"] %>: <%= info.options["submitter"] %>
						<div class="progress progress-inverse progress-striped active" style="margin-bottom: 9px;">
							<div class="bar" style="width: 89%">89%</div>
						</div>
					</div>
				<% end %>
			<% end %>
		<div id="sortable_<%= queue %>">
			<% @queues[queue].each do |info| %>
				<% if info.status == 'queued' %>
					<div class="alert alert-info" id="<%= info.uuid %>">
						<button class="close" data-dismiss="alert" type="button" onclick="kill_job(this, '<%= info.uuid %>')">×</button>
						<%= info.uuid %>: <%= info.options["purpose"] %> : <%= info.options["testcase"] %>: <%= info.options["submitter"] %>
						<div class="progress progress-inverse progress-striped active" style="margin-bottom: 9px;">
							<div class="bar" style="width: 89%">89%</div>
						</div>
					</div>
				<% end %>
			<% end %>
		</div>
		<% @queues[queue].each do |info| %>
			<% if info.status == 'completed' %>
				<div class="alert alert-info">
					<%= info.uuid %>: <%= info.options["purpose"] %> : <%= info.options["testcase"] %>: <%= info.options["submitter"] %>
				</div>
			<% end %>
		<% end %>
	</article>
</article>
<% end %>
</div>
<script>
$(function() {
    $( "#sortable" ).sortable({
     onDrop: function (item, container, _super) {
         alert("test");
     }


 });
	<% @queues.keys.each do |queue| %>
    	$( "#sortable_<%= queue %>" ).sortable({
    		stop: function(event, ui) {
    			$(this).children().each(function(){
    				update_url = "update_queue?uuid=" + $(this).attr("id");
    				$.ajax({
				        type: "GET",
				        url: update_url,
				        success: function(msg){
				        }
				    });
    			});
    		}
    	});
	<% end %>
});

function kill_job(rm_this, job_uuid){
	var delete_url = "delete_job?uuid=" + job_uuid;
    $.ajax({
        type: "GET",
        url: delete_url,
        success: function(msg){
			$(rm_this).parent().fadeOut(500, function(){
		        $(rm_this).parent().remove();
		    });
        }
    });
}
</script>