<article class="span12" id="scenario">
<table id="scenario_table" class="table table-bordered table-wuxia ">
    <thead>
		<tr>
			<th colspan="2">
				<div class="tabletitle">AP Power</div>
				<div><input type="checkbox" text="SelectAll" value="Select All" onclick="change_category_state(this)" id="scenario_checkbox_root"/>SelectAll</div>
				Test loop: <input id="loopscenario" type="text" name="loopPPAT" value="3" class="testloop"/>
			</th>
		</tr>
	</thead>
	<tbody>
	<% @power_cases.keys.each do |category| %>
		<tr>
			<td class="category">
				<input type="checkbox" id="<%= category %>_c" father="scenario_checkbox_root" onclick="change_all_and_case_state(this)"/> <%= category %>
			</td>
			<td class="case">
				<% @power_cases[category].each do |caseName| %>
					<input id="child" type="checkbox" father="<%= category %>_c" value="<%= category %>" name="<%= caseName %>" class="<%= caseName %>" text="<%= caseName %>" href="#<%= caseName %>" onclick="change_all_and_category_state(this)"/>
					<%= caseName %>
				<% end %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
</article>
