<%= stylesheet_link_tag  "trigger"%>
<!-- page-container -->
<div class="page-container tab-content"  >
    <!-- Tab #basic -->
    <div class="tab-pane active">
        <!-- Grid row-->
            <div class="row">
                <%= form_tag("/compare/add_daily_compare", method: "post", remote: true, class: "form-horizontal") do %>
                    <div class="control-group">
                        <label class="inline" for="input">Image Path:</label>
                        <input id="input" class="input-xlarge inline" type="text" />
                        <p class="help-inline">Image Path should be /autobuild/android/pxa988/2013-06-17_pxa988-jb4.2/</p>
                    </div>
                    <div class="control-group">
                        <label class="inline">Add Specify Image Files:</label>
                        <a class="accordion-toggle btn btn-wuxia btn-inverse" href="#fileUpload" data-toggle="collapse">Add files</a>
                        <div id="fileUpload" class="accordion-body collapse" style="height: 0; ">

                        </div>
                        <div class="plupload"></div>
                    </div>
                    <div class="control-group">
                        <label class="inline" for="input">Purpose:</label>
                        <input id="input" class="input-xlarge inline" type="text" />
                        <p class="help-inline">short description of reason for trigger PPAT</p>
                    </div>

                    <div class="control-group">
                        <label class="inline" for="input">Device</label>
                        <select name="Device">
                            <option value="pxa1908dkb_tz">pxa1908dkb_tz</option>
                            <option value="pxa1928dkb_tz">pxa1928dkb_tz</option>
                            <option value="pxa1936dkb_tz">pxa1936dkb_tz</option>
                        </select>
                        <label class="inline" for="input">Blf</label>
                        <select name="Blf">
                            <option>blf</option>
                            <option>PXA1908_Trusted_Samsung_lpddr3_1g_discrete_KMQ7X000SAB315_533Mhz.blf</option>
                        </select>
                    </div>

                    <div class="control-group" id="DeviceHW" style="display: block;">
                        <label class="inline" for="optionsCheckbox">Choose Board HW Module:</label>
                        <% @devices.keys.each do |device| %>
                            <input name="hwmodule" type="radio" value="option1" onclick="update_testcases('<%= device%>')" /><%= device %>
                        <% end %>
                    </div>

                    <div class="control-group">
                        <ul class="nav nav-tabs">
                           <li class="active"><a href="#">PowerScenario</a></li>
                           <li><a href="#">Round PP Tuning</a></li>
                           <li><a href="#">Baremetal Power</a></li>
                        </ul>

                    </div>
                    <div class="control-group">
                        <label class="inline" for="input">Choose Test</label>
                        <select name="TestType">
                            <option>PowerScenario</option>
                            <option>Round PP Tuning</option>
                            <option>Baremetal Power</option>
                        </select>
                    </div>

                    <div class="control-group">
                        <label class="inline" for="input"><span>PowerScenario</span></label>
                    </div>
                    <div id="ap_scenario">
                        <%= render :partial => 'ap_scenario' %>
                    </div>

                    <div id="cp_scenario">
                        <%= render :partial => 'cp_scenario' %>
                    </div>

                    <div id="perf_scenario">
                        <%= render :partial => 'perf_scenario' %>
                    </div>
                <% end %>
            </div>
    </div>
<!--top-->
</div>
<script>

$(document).ready(function() {

    $('.plupload').pluploadQueue({
        runtimes : 'html5,gears,flash,silverlight,browserplus',
        url : 'upload',
        resize : {width : 320, height : 440, quality : 90},
        flash_swf_url : 'js/plugins/plUpload/plupload.flash.swf',
        silverlight_xap_url : 'js/plugins/plUpload/plupload.silverlight.xap'
    });
    $(".plupload_header").remove();
    $(".plupload_progress_container").addClass("progress").addClass('progress-striped');
    $(".plupload_progress_bar").addClass("bar");
    $(".plupload_button").each(function(e){
        if($(this).hasClass("plupload_add")){
            $(this).attr("class", 'btn btn-primary btn-wuxia pl_add btn-small');
        } else {
            $(this).attr("class", 'btn btn-success btn-wuxia pl_start btn-small');
        }
    });

});

function update_testcases(deviceName){
    var get_device_url = "get_device?device=" + deviceName;
    $.ajax({
        type: "GET",
        url: get_device_url,
        success: function(msg){
        }
    });
}

function change_category_state(node){
    var catogry_nodes = $(node).parentsUntil("table").parent().find("tbody");
    if($(node).is(':checked')){//checked
        catogry_nodes.each(function(){
            $(this).find(":checkbox").each(function(){
                $(this).prop("checked", true);
            });
        });
    }else{
        catogry_nodes.each(function(){
            $(this).find(":checkbox").each(function(){
                $(this).prop("checked", false);
            });
        });
    }
}

/*when click case checkbox, need update category and all checkbox state */
function change_all_and_category_state(node){
    var catogry_node = $(node).parentsUntil("tr").siblings(".category").find(":checkbox");
    if($(node).is(':checked')){//checked
        var check_category = true;
        $(node).parentsUntil("tr").siblings("div").each(function(){
            $(this).find(":checkbox").each(function(){
                check_category = check_category && $(this).is(':checked');
            });
        });
        //update category checkbox status
        if(check_category){
            catogry_node.prop("checked", true);
            update_all_state_after_category(catogry_node,$(node).is(':checked'));
        }else{
            catogry_node.prop("checked", false);
            update_all_state_after_category(catogry_node,$(node).is(':checked'));
        }

    }else{//unchecked
        catogry_node.prop("checked", false);
        update_all_state_after_category(catogry_node,$(node).is(':checked'));
    }
}

function change_all_and_case_state(node){
    var node_all = $(node).parentsUntil("table").parent().find("thead :checkbox");
    if($(node).is(':checked')){//checked
        $(node).parent("td").siblings(".case").find(":checkbox").each(function(){
            $(this).prop("checked", true);
        });

    }else{//unchecked
        $(node).parent("td").siblings(".case").find(":checkbox").each(function(){
            $(this).prop("checked", false);
        });
        node_all.prop("checked", false);
    }
    //update check all state
    update_all_state_after_category(node,$(node).is(':checked'));
}

function update_all_state_after_category(category,state){
    var node_all = $(category).parentsUntil("table").parent().find("thead :checkbox");
    if(state){
        //update check all state
        var check_all = true;
        $(category).parent("td").parent("tr").siblings().children(".category").each(function(){
            check_all = check_all && $(this).find(":checkbox").is(':checked');
        });
        if(check_all){
            node_all.prop("checked", true);
        }else{
            node_all.prop("checked", false);
        }
    }else{
        node_all.prop("checked", false);
    }
}
</script>
