
<div class="page-header">
    <h1>
        <span>Welcome to APSE Home Page</span>
    </h1>
</div>
<!-- page-container -->
<div class="page-container tab-content">
    <!-- Tab #basic -->
    <div class="tab-pane active" id="basic">
        <!-- Grid row -->
        <div class="row">
            <form method=post action="" name="form1">
                <article class="span4">
                    <h3>Select Platform</h3>
                    <select name="Platform" onChange="getBranch()" id="Platform"
                        onclick="update_calendar()" onclick="update_scenario_by_task()">
                        <option value="Platform">Platform</option> <%@scenariosplatform =
                        get_all_platform() %> <% @scenariosplatform.each do |scenariosp|
                        %>
                        <option value="<%=scenariosp.platform%>"><%=scenariosp.platform%></option>
                        <% end %>
                    </select>
                </article>
                <article class="span4">
                    <h3>Select Branch</h3>
                    <select name="Branch" id="Branch" onclick="update_calendar()"
                        onclick="update_scenario_by_task()">
                        <option value="Branch">Branch</option>
                    </select>
                </article>
                <article class="span4">
                    <h3>Select Device</h3>
                    <select name="Device" id="Device" onclick="update_calendar()"
                        onclick="update_scenario_by_task()">
                        <option value="Device">Device</option>
                    </select>
                </article>
            </form>
            <!-- Page grid cell (6 blocks - full) -->
            <article class="span6">
                <!-- Example jQuery FullCalendar -->
                <div class='full-calendar '></div>
                <!-- table of daily power -->
                <h2>
                    <span class="icon-hand-right"></span>&nbsp;Daily Power
                </h2>
                <!-- table of task list -->
                <!-- scenario table of task -->
                <div id="task_scenario"></div>
            </article>
            <article class="span6">
                <h2>
                    <span class="icon-hand-right"></span>&nbsp;Smoke test result
                </h2>
                <div id="accordion1" class="accordion">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" href="#collapseOne"
                                data-parent="#accordion1" data-toggle="collapse">
                                <div id="title_smoketest"></div>
                            </a>
                        </div>
                        <div id="collapseOne" class="accordion-body in collapse"
                            style="height: auto;">
                            <div class="accordion-inner">
                                <div id="smoketest_result"></div>
                                <a href="/tools/smoketest"><button class="btn btn-primary">Detailed</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <!-- /Page grid cell (6 blocks - full) -->
        </div>
        <!-- /Grid row -->
    </div>
    <!-- Tab #basic -->
</div>
<!-- /page-container -->
<script>
    $(document).ready(function() {
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();
        var h = date.getHours();
        var todays_smoketest = "";
                todays_smoketest+=date.getFullYear()+"-";
                todays_smoketest+=(date.getMonth()+1)+"-";
                todays_smoketest+=date.getDate();
        var branch=$("#Branch").val();
        var platform=$("#Platform").val();
        var device = $("#Device").val();
                branch = branch.replace(/(^\s*)|(\s*$)/g,"");
                platform = platform.replace(/(^\s*)|(\s*$)/g,"");
                device = device.replace(/(^\s*)|(\s*$)/g,"");
                $("#title_smoketest").text(todays_smoketest+"_"+platform+"_"+branch+"_"+device);
        $('.full-calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,basicWeek,basicDay'
            },
            defaultDate:'today',
            selectable:true,
            selectHelper : true,
            select : function(start,end){
                /*var title = prompt('Event Title:');*/
                var today ="";
                today+=start.getFullYear()+"-";
                if((start.getMonth()+1)<10){
                    today+="0"+(start.getMonth()+1)+"-";
                }else{
                    today+=(start.getMonth()+1)+"-";
                }
                if(start.getDate()<10){
                    today+="0"+start.getDate();
                }else{
                    today+=start.getDate();
                }
                update_scenario_by_task(today);
                show_issue_detail(today);
                var branch=$("#Branch").val();
                var platform=$("#Platform").val();
                var device=$("#Device").val();
                $("#title_smoketest").html("");
                $("#title_smoketest").append(today+"_"+platform+"_"+branch+"_"+device);

            },

            eventLimit: true,
            editable: false,
            buttonText: {
                prev: '<span class="icon-circle-arrow-right"></span>',
                next: '<span class="icon-circle-arrow-left"></span>'
            },
            businessHours: true, // display business hours
            editable: false,
            events: [
            //<%@scenariosplatform = get_all_data(@platform,@branch,@device) %>
            //<% @scenariosplatform.each do |scenariosp| %>
                {
                    title: 'power',
                    overlap: false,
                    start:"<%=scenariosp1.image_date%>",
                    end:"<%=scenariosp1.image_date%>",
                    color:'red',
                },
           //<% end %>
               {
               }
            ]
        });
        $('.full-calendar-gcal').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,basicWeek,basicDay'
            },
            buttonText: {
                prev: '<span class="icon-arrow-left"></span>',
                next: '<span class="icon-arrow-right"></span>'
            },
        });
        update_scenario_by_task("");

    });
</script>
<script language="JavaScript" type="text/javascript">
function update_scenario_by_task(image_date){
                branch=$("#Branch").val();
                platform=$("#Platform").val();
                device = $("#Device").val();
                platform=$("#Platform").val();
                device = $("#Device").val();
                branch = branch.replace(/(^\s*)|(\s*$)/g,"");
                platform = platform.replace(/(^\s*)|(\s*$)/g,"");
                device = device.replace(/(^\s*)|(\s*$)/g,"");
                var task_url = "get_platform_detail?image_date="+image_date+"&platform="+platform+"&branch="+branch+"&device="+device;
    $.ajax({
        type: "GET",
        url: task_url,
        success: function(msg){
            $("#task_scenario").html("");
            $("#task_scenario").html(msg);
        }
    });
}

function update_calendar(){
                branch=$("#Branch").val();
                platform=$("#Platform").val();
                device = $("#Device").val();
                platform=$("#Platform").val();
                device = $("#Device").val();
                branch = branch.replace(/(^\s*)|(\s*$)/g,"");
                platform = platform.replace(/(^\s*)|(\s*$)/g,"");
                device = device.replace(/(^\s*)|(\s*$)/g,"");
    $.ajax({
        type: "GET",
        url: 'update_calendar?platform='+platform+'&branch='+branch+'&device='+device,
        success: function(msg){

        }
    });
}

function show_issue_detail(image_date){
                branch=$("#Branch").val();
                platform=$("#Platform").val();
                device = $("#Device").val();
                branch = branch.replace(/[\ |\_|\.]/g,"");
                platform = platform.replace(/(^\s*)|(\s*$)/g,"");
                device = device.replace(/[\ |\_|\.]/g,"");
    $.ajax({
        type: "POST",
        url:'http://10.38.32.174/smoketest/php/searchstateresult.php',
        data:{platform:platform, branch:branch,prodoct:device,reportdate:image_date,mode:1},
        success: function(data){
            $("#smoketest_result").html("");
            $("#smoketest_result").html(data);//data就是请求页面的内容....
        }
    });
}
        //定义了Branch的二维数组，里面的顺序跟Platform的顺序是相同的。通过selectedIndex获得Platform的下标值来得到相应的Branch数组
        var Branch = [
                <%@scenariosplatform = get_all_platform()%>
                <% @scenariosplatform.each do |scenariosp| %>
            [
                <%@scenariosbranch = get_all_branch(scenariosp.platform) %>
                <% @scenariosbranch.each do |scenariosb| %>
                                "<%=scenariosb.branch%>",
                   <% end %>
            ],
            <% end %>
        ];
        var Device = [
                <%@scenariosplatform = get_all_platform()%>
                <% @scenariosplatform.each do |scenariosp| %>
            [
                <%@scenariosdevice = get_all_device(scenariosp.platform) %>
                <% @scenariosdevice.each do |scenariosdevice| %>
                                "<%=scenariosdevice.device%>",
                   <% end %>
            ],
            <% end %>
        ];
        function getBranch(){
            //获得Platform下拉框的对象
            var sltPlatform=document.form1.Platform;
            //获得Branch下拉框的对象
            var sltBranch=document.form1.Branch;
             //获得Device下拉框的对象
            var sltDevice=document.form1.Device;
            //得到对应Platform的Branch数组
            var PlatformBranch=Branch[sltPlatform.selectedIndex - 1];
             //得到对应Platform的Device数组
            var PlatformDevice=Device[sltPlatform.selectedIndex - 1];
            //清空Branch下拉框，仅留提示选项
            sltBranch.length=1;
            //清空Device下拉框，仅留提示选项
            sltDevice.length=1;
            //将Branch数组中的值填充到Branch下拉框中
             for(var i=0;i<PlatformBranch.length;i++){
            sltBranch[i+1]=new Option(PlatformBranch[i],PlatformBranch[i]);
            }
             //将Device数组中的值填充到Device下拉框中
             for(var i=0;i<PlatformDevice.length;i++){
            sltDevice[i+1]=new Option(PlatformDevice[i],PlatformDevice[i]);
            }
        }
    </script>
