
<%snplatform_list=[]%>
<div class="page-container tab-content">
    <div class="tab-pane active" id="basic">
        <div class="row">
            <form method=post action="" name="form1">
                <article class="span4">
                    Platform
                    <select name="Platform" onChange="getBranch();show_smoketest_calendar();update_calendar();update_scenario_by_task()" id="Platform">

                            <%snplatform_list=['pxa1928','pxa1928ff','pxa1936','pxa1088','pxa988']%>
                         <%snplatform_list.each do |snplatform_list|%>
                        <option value="<%=snplatform_list%>"><%=snplatform_list%></option>
                        <% end %>
                    </select>
                </article>
                <article class="span4">
                    Branch
                    <select name="Branch" id="Branch" onclick="update_calendar();update_scenario_by_task()" onchange="show_smoketest_calendar()">
                    </select>
                </article>
                <article class="span4">
                    Device
                    <select name="Device" id="Device" onclick="update_calendar();update_scenario_by_task()" onchange="show_smoketest_calendar()">
                    </select>
                </article>
            </form>
            <article class="span6">
                <div class='full-calendar '></div>
                 <h2>
                    <span class="icon-hand-right"></span>&nbsp;Smoke test result
                </h2>
                <div id="accordion1" class="accordion">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" href="#collapseOne"
                                data-parent="#accordion1" data-toggle="collapse">
                                <div id="title_smoketest"></div>
                                <div id ="sub_date" style="display:none;"></div>
                                <div id ="show_smoketest" style="display:none;"></div>
                            </a>
                        </div>
                        <div id="collapseOne" class="accordion-body in collapse"
                            style="height: auto;">
                            <div class="accordion-inner">
                                <div id="smoketest_result"></div>
                               <a class="btn btn-wuxia btn-primary" onclick="submit_smoke()" data-toggle="modal" href="#demoModal">Detail</a>
                               <div class="modal fade hide" id="demoModal" style="display: none;">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">×</button>
                                        <h3>Smoketest detail</h3>
                                    </div>
                                    <div class="modal-body">
                                       <div id ="smoke_detailed"></div>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="#" class="btn btn-wuxia btn-primary" data-dismiss="modal">Close</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </article>
            <article class="span6">
                <h2>
                    <span class="icon-hand-right"></span>&nbsp;Daily Power
                </h2>
                <div id="task_scenario"></div>
            </article>
        </div>
    </div>
</div>
</div>
<div  class="page-container">
    <ul class="nav nav-tabs" id="myTab" onclick="update_scenario_code()">
    <%@scenariosplatformbranch=get_all_platformbranch() %>
        <% @scenariosplatformbranch.each do |scenariosp| %>
        <li><a href="#container_<%=scenariosp.platform%>"><%=scenariosp.platform%></a></li>
        <%end%>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="container_pxa1936" style="height: 400px; margin: 0 auto"></div>
        <%@scenariosplatformbranch=get_all_platformbranch() %>
            <% @scenariosplatformbranch.each do |scenariosp| %>
                <div class="tab-pane" id="container_<%=scenariosp.platform%>" style="height: 400px; margin: 0 auto"></div>
            <%end%>
    </div>
</div>
<script>
    $(document).ready(function() {
        getBranch();
        var show_smoketest = $("#show_smoketest").text();
        var smoke_date =  new Array();
        smoke_date = show_smoketest.split(",");
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();
        var h = date.getHours();
        var todays_smoketest = "";
                todays_smoketest+=date.getFullYear()+"-smoke_date";
                if((date.getMonth()+1)<10){
                    todays_smoketest+="0"+(date.getMonth()+1)+"-";
                }else{
                    todays_smoketest+=(date.getMonth()+1)+"-";
                }
                if(date.getDate()<10){
                    todays_smoketest+="0"+date.getDate();
                }else{
                    todays_smoketest+=date.getDate();
                }
        var branch=$("#Branch").val();
        var platform=$("#Platform").val();
        var device = $("#Device").val();
                branch = branch.replace(/(^\s*)|(\s*$)/g,"");
                platform = platform.replace(/(^\s*)|(\s*$)/g,"");
                device = device.replace(/(^\s*)|(\s*$)/g,"");
                $("#title_smoketest").text(todays_smoketest+"_"+platform+"_"+branch+"_"+device);
                $("#sub_date").text(todays_smoketest);
    update_scenario_by_task(todays_smoketest);
            update_calendar();
            show_smoketest_calendar();
            update_scenario_code();

    });
</script>
<script language="JavaScript" type="text/javascript">
function update_scenario_by_task(image_date){
            var imgid = new Image();
            imgid.src ="../images/icons/loading_blue.gif";
            $("#task_scenario").html(imgid);
                branch=$("#Branch").val();
                platform=$("#Platform").val();
                device = $("#Device").val();
                platform=$("#Platform").val();
                device = $("#Device").val();
                branch = branch.replace(/(^\s*)|(\s*$)/g,"");
                platform = platform.replace(/(^\s*)|(\s*$)/g,"");
                device = device.replace(/(^\s*)|(\s*$)/g,"");
                var task_url = "get_platform_detail?image_date="+image_date+"&platform="+platform+"&branch="+branch+"&device="+device;
    $.ajax({
        type: "GET",
        url: task_url,
        success: function(msg){
            $("#task_scenario").html("");
            $("#task_scenario").html(msg);
        }
    });
}

function update_scenario_code(){
    var platform;
    $('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
        platform = $(this).text();
        var task_url = "get_code_drop?platform="+platform;
        $.ajax({
                type: "GET",
                url: task_url,
                success: function(msg){
                }
        });
        $(this).text().remove();
    });
    platform = "pxa1936";
    var task_url = "get_code_drop?platform="+platform;
    $.ajax({
        type: "GET",
        url: task_url,
        success: function(msg){
        }
    });
}

function update_calendar(){
                branch=$("#Branch").val();
                platform=$("#Platform").val();
                device = $("#Device").val();
                platform=$("#Platform").val();
                device = $("#Device").val();
                show_smoketest = $("#show_smoketest").text();
                branch = branch.replace(/(^\s*)|(\s*$)/g,"");
                platform = platform.replace(/(^\s*)|(\s*$)/g,"");
                device = device.replace(/(^\s*)|(\s*$)/g,"");
    $.ajax({
        type: "GET",
        url: 'update_calendar?platform='+platform+'&branch='+branch+'&device='+device+'&show_smoketest='+show_smoketest,
        success: function(msg){

        }
    });
}

function show_issue_detail(image_date){
            var imgid = new Image();
            imgid.src ="../images/icons/loading_blue.gif";
            $("#smoketest_result").html(imgid);
                branch=$("#Branch").val();
                platform=$("#Platform").val();
                device = $("#Device").val();
                branch = branch.replace(/[\ |\_|\.]/g,"");
                branch = branch.replace("master","");
                platform = platform.replace(/(^\s*)|(\s*$)/g,"");
                device = device.replace(/[\ |\_|\.]/g,"");
    $.ajax({
        type: "POST",
        url:'http://10.38.32.174/smoketest/php/searchstateresult.php',
        data:{platform:platform, branch:branch,prodoct:device,reportdate:image_date,mode:1},
        success: function(data){
            $("#smoketest_result").html("");
            $("#smoketest_result").html(data);//data就是请求页面的内容....
        }
    });
}

function show_smoketest_calendar(){
                branch=$("#Branch").val();
                platform=$("#Platform").val();
                device = $("#Device").val();
                branch = branch.replace(/[\ |\_|\.]/g,"");
                branch = branch.replace("master","");
                platform = platform.replace(/(^\s*)|(\s*$)/g,"");
    $.ajax({
        type: "POST",
        url:'http://10.38.32.174/smoketest/php/searchstateresult.php',
        data:{platform:platform, branch:branch,mode:2},
        success: function(data){
            $("#show_smoketest").html("");
            $("#show_smoketest").html(data);//data就是请求页面的内容....
            //console.log(data);
        }
    });

}
function submit_smoke(image_date){
                branch=$("#Branch").val();
                platform=$("#Platform").val();
                device = $("#Device").val();
                var image_date = $("#sub_date").text();
                branch = branch.replace(/[\ |\_|\.]/g,"");
                branch = branch.replace("master","");
                platform = platform.replace(/(^\s*)|(\s*$)/g,"");
                device = device.replace(/[\ |\_|\.]/g,"");
    $.ajax({
        type: "GET",
        url: "http://10.38.32.174/smoketest/php/searchstateresult.php?reportdate="+image_date+"&platform="+platform+"&branch="+branch+"&prodoct="+device,
        success: function(msg){
              $("#smoke_detailed").html("");
            $("#smoke_detailed").html(msg);//msg...

        }
    });
}
        var Branch = [
                <% snplatform_list.each do |scenariosp| %>
            [
                <%@scenariosbranch = get_all_branch(scenariosp) %>
                <% @scenariosbranch.each do |scenariosb| %>
                                "<%=scenariosb.branch%>",
                   <% end %>
            ],
            <% end %>
        ];
        var Device = [
                <% snplatform_list.each do |scenariosp| %>
            [
                <%@scenariosdevice = get_all_device(scenariosp) %>
                <% @scenariosdevice.each do |scenariosdevice| %>
                                "<%=scenariosdevice.device%>",
                   <% end %>
            ],
            <% end %>
        ];
        function getBranch(){
            var sltPlatform=document.form1.Platform;
            var sltBranch=document.form1.Branch;
            var sltDevice=document.form1.Device;
            var PlatformBranch=Branch[sltPlatform.selectedIndex];
            var PlatformDevice=Device[sltPlatform.selectedIndex];
            sltBranch.length=1;
            sltDevice.length=1;
             for(var i=0;i<PlatformBranch.length;i++){
            sltBranch[i]=new Option(PlatformBranch[i],PlatformBranch[i]);
            }
             for(var i=0;i<PlatformDevice.length;i++){
            sltDevice[i]=new Option(PlatformDevice[i],PlatformDevice[i]);
            }
        }
    </script>
