<% @all_purposes = get_distinct_purposes() %>
<% @all_categories = get_distinct_scenario_categories() %>
<%scenario_name_list =[]%>
<%task_id_list=[]%>
<%task_purpose=[]%>
<%count=0%>
<% record_list = [] %>
<%purpose_list=[]%>
<%purpose_image=[]%>
<%purpose_device=[]%>
<%purpose_branch=[]%>
<% scenario_id_map_name = Hash.new %>
    <% @cart.record_list.each do |record| %>
        <% record_info = get_record_info(record.power_record.id) %>
        <% record_list << record_info %>
            <% scenario_id_map_name[record_info.power_scenario_id] = get_scenario_name(record_info.power_scenario_id) %>
            <%scenario_name_list<<record_info.power_scenario_id%>
            <%task_id_list<<record_info.task_id%>
    <% end %>

<div style="text-align: center; background-color:#FFFFFFF;">
    <center>
        <article>
            <ul class="nav nav-tabs" id="compare_scenario_category">
                    <li><a href="#All">All</a></li>
                <% @all_categories.each do |category| %>
                    <li><a href="#<%= category %>"><%= category %></a></li>
                <% end %>
            </ul>
            <div class="tab-content">
                    <div class="tab-pane" id="All">
                        <div id="chart_container_All" style="min-width: 70%; height: 400px; margin: 0 auto">
                        </div>

                            <table class="table table-wuxia" id="compare_tab">
                                <thead>
                                    <tr>
                                        <th>Scenario</th>
                                        <th id ="battery" >Battey</th>
                                        <th id ="vcc_main" >Vcc_main</th>
                                        <th id ="fps" >Fps</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    <td>
                                        purpose
                                    </td>
                                    <%task_id_list.uniq.each do |taskid|%>
                                        <%@get_task_id_purpose=get_task_id_purpose(taskid)%>
                                        <%@get_task_id_purpose.each do |getpurpose|%>
                                            <%count=count+1%>
                                            <%task_purpose<<getpurpose%>
                                            <td>
                                                <input type="checkbox" name="compare_battery" onclick="cmp_battery()">
                                                <%purpose_list<<getpurpose.purpose%>
                                                <%purpose_image<<getpurpose.image_date%>
                                                <%purpose_device<<getpurpose.device%>
                                                <%purpose_branch<<getpurpose.branch%>
                                                <%=getpurpose.purpose%>
                                            </td>
                                            <%break%>
                                        <%end%>
                                    <%end%>
                                    <td>
                                        Diff
                                    </td>
                                            <%purpose_list.each do |purpose_list_vcc|%>
                                                <td>
                                                    <input type="checkbox" name="compare_vcc_main" onclick="cmp_vcc_main()">
                                                    <%=purpose_list_vcc%>
                                                </td>
                                        <%end%>
                                    <td>
                                        Diff
                                    </td>
                                        <%purpose_list.each do |purpose_list_fps|%>
                                                <td>
                                                    <input type="checkbox" name="compare_fps" onclick="cmp_fps()">
                                                    <%=purpose_list_fps%>
                                                </td>
                                        <%end%>
                                    <td>
                                        Diff
                                    </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <% task_id_list.uniq.each do |taskid|%>
                                        <td onclick="remove_by_taskid('<%= taskid %>')"><span class="icon-remove"></span></td>
                                        <% end %>
                                        <td></td>
                                        <% task_id_list.uniq.each do |taskid|%>
                                        <td onclick="remove_by_taskid('<%= taskid %>')"><span class="icon-remove"></span></td>
                                        <% end %>
                                        <td></td>
                                        <% task_id_list.uniq.each do |taskid|%>
                                        <td onclick="remove_by_taskid('<%= taskid %>')"><span class="icon-remove"></span></td>
                                        <% end %>
                                    </tr>
                                    <tr>
                                        <td>Image_date</td>
                                        <%purpose_image.each do |purpose_image_b|%>
                                            <td><%=purpose_image_b%></td>
                                        <%end%>
                                        <td></td>
                                        <%purpose_image.each do |purpose_image_b|%>
                                            <td><%=purpose_image_b%></td>
                                        <%end%>
                                        <td></td>
                                        <%purpose_image.each do |purpose_image_b|%>
                                            <td><%=purpose_image_b%></td>
                                        <%end%>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>devices</td>
                                        <%purpose_device.each do |purpose_device_b|%>
                                            <td><%=purpose_device_b%></td>
                                        <%end%>
                                        <td></td>
                                         <%purpose_device.each do |purpose_device_b|%>
                                            <td><%=purpose_device_b%></td>
                                        <%end%>
                                        <td></td>
                                         <%purpose_device.each do |purpose_device_b|%>
                                            <td><%=purpose_device_b%></td>
                                        <%end%>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Branch</td>
                                        <%purpose_branch.each do |purpose_branch_b|%>
                                            <td><%=purpose_branch_b%></td>
                                        <%end%>
                                        <td></td>
                                        <%purpose_branch.each do |purpose_branch_b|%>
                                            <td><%=purpose_branch_b%></td>
                                        <%end%>
                                        <td></td>
                                        <%purpose_branch.each do |purpose_branch_b|%>
                                            <td><%=purpose_branch_b%></td>
                                        <%end%>
                                        <td></td>
                                    </tr>

                                    <%battery_a=Hash.new%>
                                    <%vcc_main_a=Hash.new%>
                                    <%fps_a=Hash.new%>
                                    <%scenario_id_map_name.each do |id,name|%>
                                        <tr>
                                            <td><%=name%></td>
                                                <%task_purpose.each do |tk_purpose|%>
                                                <td>
                                                    <% record_list.uniq.each do |record| %>
                                                        <% if record.task_id == tk_purpose.task_id && record.power_scenario_id == id %>
                                                            <%@get_power_record_result=get_power_record_result(id,tk_purpose.purpose,record.id,tk_purpose.image_date)%>
                                                            <%@get_power_record_result.each do |index_battery|%>
                                                                <%battery_a[tk_purpose.task_id] = index_battery.battery.to_f%>
                                                                <%vcc_main_a[tk_purpose.task_id] = index_battery.vcc_main.to_f%>
                                                                <%fps_a[tk_purpose.task_id] = index_battery.fps.to_f%>
                                                            <%end%>
                                                        <% end %>
                                                    <%end%>
                                                    <%= get_sub_power(battery_a[tk_purpose.task_id]) %>
                                                </td>
                                                <%end%>
                                            <td></td>
                                            <%task_id_list.uniq.each do |task_id|%>
                                                <td>
                                                    <%= get_sub_power(vcc_main_a[task_id]) %>
                                                </td>
                                                <%end%>
                                            <td></td>
                                            <%task_id_list.uniq.each do |task_id|%>
                                                <td>
                                                    <%= get_sub_power(fps_a[task_id]) %>
                                                </td>
                                                <%end%>
                                            <td></td>
                                        </tr>
                                        <%battery_a=Hash.new%>
                                        <%vcc_main_a=Hash.new%>
                                        <%fps_a=Hash.new%>
                                    <%end%>
                            </tbody>
                        </table>
                    </div>
                    <% @all_categories.each do |category| %>
                    <div class="tab-pane" id="<%= category %>">
                        <div id="chart_container<%= category %>" style="min-width: 70%; height: 400px; margin: 0 auto">
                        </div>
                        <table class="table table-wuxia" id ="table_<%=category%>">
                            <thead>
                                <tr>
                                        <th>Scenario</th>
                                        <th id ="battery_<%=category%>" >Battey</th>
                                        <th id ="vcc_main_<%=category%>" >Vcc_main</th>
                                        <th id ="fps_<%=category%>" >Fps</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                    purpose
                                    </td>
                                    <%purpose_list.each do |purpose_list_b|%>
                                            <td>
                                                <input type="checkbox" name="compare_battery_<%=category%>" onclick="cmp_battery_<%=category%>()">
                                                    <%=purpose_list_b%>
                                            </td>
                                    <%end%>
                                    <td>
                                        Diff
                                    </td>
                                        <%purpose_list.each do |purpose_list_vcc|%>
                                            <td>
                                                <input type="checkbox" name="compare_vcc_main_<%=category%>" onclick="cmp_vcc_main_<%=category%>()">
                                                    <%=purpose_list_vcc%>
                                            </td>
                                        <%end%>
                                        <td>
                                        Diff
                                    </td>
                                        <%purpose_list.each do |purpose_list_fps|%>
                                            <td>
                                                <input type="checkbox" name="compare_fps_<%=category%>" onclick="cmp_fps_<%=category%>()">
                                                    <%=purpose_list_fps%>
                                            </td>
                                        <%end%>
                                        <td>
                                        Diff
                                    </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <% task_id_list.uniq.each do |taskid|%>
                                        <td onclick="remove_by_taskid('<%= taskid %>')"><span class="icon-remove"></span></td>
                                        <% end %>
                                        <td></td>
                                        <% task_id_list.uniq.each do |taskid|%>
                                        <td onclick="remove_by_taskid('<%= taskid %>')"><span class="icon-remove"></span></td>
                                        <% end %>
                                        <td></td>
                                        <% task_id_list.uniq.each do |taskid|%>
                                        <td onclick="remove_by_taskid('<%= taskid %>')"><span class="icon-remove"></span></td>
                                        <% end %>
                                    </tr>
                                    <tr>
                                        <td>Image_date</td>
                                        <%purpose_image.each do |purpose_image_b|%>
                                            <td><%=purpose_image_b%></td>
                                        <%end%>
                                        <td></td>
                                        <%purpose_image.each do |purpose_image_b|%>
                                            <td><%=purpose_image_b%></td>
                                        <%end%>
                                        <td></td>
                                        <%purpose_image.each do |purpose_image_b|%>
                                            <td><%=purpose_image_b%></td>
                                        <%end%>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>devices</td>
                                        <%purpose_device.each do |purpose_device_b|%>
                                            <td><%=purpose_device_b%></td>
                                        <%end%>
                                        <td></td>
                                         <%purpose_device.each do |purpose_device_b|%>
                                            <td><%=purpose_device_b%></td>
                                        <%end%>
                                        <td></td>
                                         <%purpose_device.each do |purpose_device_b|%>
                                            <td><%=purpose_device_b%></td>
                                        <%end%>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Branch</td>
                                        <%purpose_branch.each do |purpose_branch_b|%>
                                            <td><%=purpose_branch_b%></td>
                                        <%end%>
                                        <td></td>
                                        <%purpose_branch.each do |purpose_branch_b|%>
                                            <td><%=purpose_branch_b%></td>
                                        <%end%>
                                        <td></td>
                                        <%purpose_branch.each do |purpose_branch_b|%>
                                            <td><%=purpose_branch_b%></td>
                                        <%end%>
                                        <td></td>
                                    </tr>

                                <%battery_a=Hash.new%>
                                <%vcc_main_a=Hash.new%>
                                <%fps_a=Hash.new%>
                                <%scenario_id_map_name.each do |id,name|%>
                                    <%if get_scenario_name_category(name)==category%>
                                        <tr>
                                            <td><%=name%></td>
                                              <%task_purpose.each do |tk_purpose|%>
                                                <td>
                                                    <% record_list.uniq.each do |record| %>
                                                        <% if record.task_id == tk_purpose.task_id && record.power_scenario_id == id %>
                                                        <%@get_power_record_result=get_power_record_result(id,tk_purpose.purpose,record.id,tk_purpose.image_date)%>
                                                        <%@get_power_record_result.each do |index_battery|%>
                                                            <%battery_a[tk_purpose.task_id] = index_battery.battery.to_f%>
                                                            <%vcc_main_a[tk_purpose.task_id] = index_battery.vcc_main.to_f%>
                                                            <%fps_a[tk_purpose.task_id] = index_battery.fps.to_f%>
                                                        <%end%>
                                                    <% end %>
                                                    <%end%>
                                                    <%= get_sub_power(battery_a[tk_purpose.task_id]) %>
                                                </td>
                                                <%end%>
                                            <td></td>
                                            <%task_id_list.uniq.each do |task_id|%>
                                                <td>
                                                    <%= get_sub_power(vcc_main_a[task_id]) %>
                                                </td>
                                                <%end%>
                                            <td></td>
                                            <%task_id_list.uniq.each do |task_id|%>
                                                <td>
                                                    <%= get_sub_power(fps_a[task_id]) %>
                                                </td>
                                                <%end%>
                                            <td></td>
                                        </tr>
                                    <%end%>
                                    <%battery_a=Hash.new%>
                                    <%vcc_main_a=Hash.new%>
                                    <%fps_a=Hash.new%>
                                <%end%>
                            </tbody>
                        </table>
                        </div>
                    <% end %>
            </div>
        </article>
    </center>
</div>

<script>

$(function () {
    $('#chart_container_All').highcharts({
        chart: {
             type: 'column'
         },
        title: {
            text: ''
        },
        xAxis: {
            categories: [
                <% scenario_name_list.uniq.each do |record| %>
                    '<%= get_scenario_name(record) %>',
                <% end %>
                ],
                labels:{
                    rotation: -45
                }
        },
        yAxis: {
            min: 5,
            title: {
             text: 'power'
            }
        },
         tooltip: {
            headerFormat: '<span style="font-size:12px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} mA</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
        },
        plotOptions: {
            series: {
               cursor: 'pointer',
               point:{
                   events: {
                    click: function(){
                            var task_url = "/compare/get_dc_by_battery?battery=" + this.y;
                            $.ajax({
                                type: "GET",
                                url: task_url,
                                success: function(msg){
                                    $("footer").css("display","block");
                                    $("#dc_info").append(msg);
                                    $("#dc_info div").each(function(){
                                        $(this).resizable();
                                    })
                                }
                            });
                        }
                  }
               }
         }
        },
        series: [
            <% @all_purposes.each do |purpose| %>
                {
                    name: '<%= purpose %>',
                    data: [
                        <% record_list.each do |record_info| %>
                            <% if record_info.device.nil? %>
                                    <% record_info.device = "" %>
                            <% end %>
                            <% if record_info.image_date.nil? %>
                                    <% record_info.image_date="" %>
                            <% end %>
                            <% if record_info.purpose + "-" + record_info.device + "-" + record_info.image_date == purpose %>
                                [<%= scenario_name_list.uniq.index record_info.power_scenario_id %>, <%= record_info.battery.to_f %>],
                            <% end %>
                        <% end %>
                    ]
                },
            <% end %>
            ]
        });
});

<% @all_categories.each do |category| %>
    <% scenario_name_list_category = [] %>
    <% scenario_name_list.uniq.each do |record| %>
        <% if get_scenario_category(record) == category %>
                <% scenario_name_list_category << record %>
        <% end %>
    <% end %>
$(function () {
    $('#chart_container<%= category %>').highcharts({
        chart: {
             type: 'column'
         },
        title: {
            text: ''
        },
        xAxis: {
            categories: [
                <% scenario_name_list_category.uniq.each do |record| %>
                    '<%= get_scenario_name(record) %>',
                <% end %>
            ]
        },
        yAxis: {
            min: 5,
            title: {
             text: 'power'
            }
        },
         tooltip: {
            headerFormat: '<span style="font-size:12px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} mA</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
        },
        plotOptions: {
            series: {
               cursor: 'pointer',
               point:{
                   events: {
                    click: function(){
                            var task_url = "/compare/get_dc_by_battery?battery=" + this.y;
                            $.ajax({
                                type: "GET",
                                url: task_url,
                                success: function(msg){
                                    $("footer").css("display","block");
                                    $("#dc_info").append(msg);
                                    $("#dc_info div").each(function(){
                                        $(this).resizable();
                                    })
                                }
                            });
                        }
                  }
               }
         }
        },
        series: [
            <% @all_purposes.each do |purpose| %>
                {
                    name: '<%= purpose %>',
                    data: [
                        <% record_list.each do |record_info| %>
                            <% if get_scenario_category(record_info.power_scenario_id) == category %>
                                <% if record_info.device.nil? %>
                                        <% record_info.device = "" %>
                                <% end %>
                                <% if record_info.image_date.nil? %>
                                        <% record_info.image_date="" %>
                                <% end %>
                                <% if record_info.purpose + "-" + record_info.device + "-" + record_info.image_date == purpose %>
                                        [<%= scenario_name_list_category.uniq.index record_info.power_scenario_id %>, <%= record_info.battery.to_f %>],
                                <% end %>
                            <% end %>
                        <% end %>
                    ]
                },
            <% end %>
            ]
        });
});
<% end %>

$(function () {
        $('#compare_scenario_category a:first').tab('show');
        $('#compare_scenario_category a').click(function (e){
            e.preventDefault();
          $(this).tab('show');
        })
})
$(function(){
    var th_span=<%=count%>
    document.getElementById('battery').setAttribute("colspan",1+th_span);
    document.getElementById('vcc_main').setAttribute("colspan",1+th_span);
    document.getElementById('fps').setAttribute("colspan",1+th_span);
});

function cmp_battery(){
    var inputs = document.getElementsByName("compare_battery");
    var gettd=document.getElementById("compare_tab");
    var tab_count=<%=count%>;
    var battery_list =new Array();
    var com_battery=new Array();
    var vcc_main_list=new Array();
    var com_vcc_main=new Array();
    var fps_list =new Array();
    var com_fps=new Array();
    var checked_counts = 0;
    var checked_counts_toher=0;
    for(var i=0;i<inputs.length;i++){
        if(inputs[i].checked){
            $('input[name=compare_vcc_main]').each(function(idx){
                if(idx==i){
                    checked_counts_toher++;
                    if(checked_counts_toher>2){
                        $(this).prop("checked",false);
                    }else{
                        $(this).prop("checked",true);
                    }
                }
            });
            $('input[name=compare_fps]').each(function(idx){
                if(idx == i){
                   if(checked_counts_toher>2){
                        $(this).prop("checked",false);
                    }else{
                        $(this).prop("checked",true);
                    }
                }
            });
            for(var j=6;j<gettd.rows.length;j++){
            var battery_col= gettd.rows[j].cells[i+1].innerText;
            battery_list.push(battery_col);
             var vcc_main_col=gettd.rows[j].cells[i+tab_count+2].innerText;
            vcc_main_list.push(vcc_main_col);
            var fps_col=gettd.rows[j].cells[i+(tab_count+1)*2+1].innerText;
            fps_list.push(fps_col);
        }
            checked_counts++;
            if(checked_counts>2){
                alert("Is not greater than 2!");
                inputs[i].checked=false;
            }
        }
        else{
            $('input[name=compare_vcc_main]').each(function(idx){
                if(idx==i){
                    $(this).prop("checked",false);
                }
            });
            $('input[name=compare_fps]').each(function(idx){
                if(idx == i){
                    $(this).prop("checked", false);
                }
            });
        }
    }
    for(var i=0;i<battery_list.length/2;i++){
         com_battery.push(battery_list[i]-battery_list[battery_list.length/2+i]);
         com_vcc_main.push(vcc_main_list[i]-vcc_main_list[vcc_main_list.length/2+i]);
         com_fps.push(fps_list[i]-fps_list[fps_list.length/2+i]);
    }
    if(checked_counts==2){
        for(var j=6;j<gettd.rows.length;j++){
        gettd.rows[j].cells[inputs.length+1].innerText= parseFloat(com_battery[j-6]).toFixed(5);
        gettd.rows[j].cells[inputs.length+tab_count+2].innerText=parseFloat(com_vcc_main[j-6]).toFixed(5);
        gettd.rows[j].cells[inputs.length+tab_count*2+3].innerText=parseFloat(com_fps[j-6]).toFixed(5);
    }
    }

}
function cmp_vcc_main(){
    var inputs = document.getElementsByName("compare_vcc_main");
    var gettd=document.getElementById("compare_tab");
    var tab_count=<%=count%>;
    var battery_list =new Array();
    var com_battery=new Array();
    var vcc_main_list=new Array();
    var com_vcc_main=new Array();
    var fps_list =new Array();
    var com_fps=new Array();
    var checked_counts = 0;
    var checked_counts_toher=0;
    for(var i=0;i<inputs.length;i++){
        if(inputs[i].checked){
            $('input[name=compare_battery]').each(function(idx){
                if(idx==i){
                    checked_counts_toher++;
                    if(checked_counts_toher>2){
                        $(this).prop("checked",false);
                    }else{
                        $(this).prop("checked",true);
                    }
                }
            });
            $('input[name=compare_fps]').each(function(idx){
                if(idx == i){
                    if(checked_counts_toher>2){
                        $(this).prop("checked",false);
                    }else{
                        $(this).prop("checked",true);
                    }
                }
            });
            for(var j=6;j<gettd.rows.length;j++){
            var battery_col= gettd.rows[j].cells[i+1].innerText;
            battery_list.push(battery_col);
             var vcc_main_col=gettd.rows[j].cells[i+tab_count+2].innerText;
            vcc_main_list.push(vcc_main_col);
            var fps_col=gettd.rows[j].cells[i+(tab_count+1)*2+1].innerText;
            fps_list.push(fps_col);
        }
            checked_counts++;
            if(checked_counts>2){
                alert("Is not greater than 2!");
                inputs[i].checked=false;
            }
        }
        else{
            $('input[name=compare_battery]').each(function(idx){
                if(idx==i){
                    $(this).prop("checked",false);
                }
            });
            $('input[name=compare_fps]').each(function(idx){
                if(idx == i){
                    $(this).prop("checked", false);
                }
            });
        }
    }
    for(var i=0;i<battery_list.length/2;i++){
         com_battery.push(battery_list[i]-battery_list[battery_list.length/2+i]);
         com_vcc_main.push(vcc_main_list[i]-vcc_main_list[vcc_main_list.length/2+i]);
         com_fps.push(fps_list[i]-fps_list[fps_list.length/2+i]);
    }
    if(checked_counts==2){
        for(var j=6;j<gettd.rows.length;j++){
        gettd.rows[j].cells[inputs.length+1].innerText= parseFloat(com_battery[j-6]).toFixed(5);
        gettd.rows[j].cells[inputs.length+tab_count+2].innerText=parseFloat(com_vcc_main[j-6]).toFixed(5);
        gettd.rows[j].cells[inputs.length+tab_count*2+3].innerText=parseFloat(com_fps[j-6]).toFixed(5);
    }
    }

}

function cmp_fps(){
    var inputs = document.getElementsByName("compare_fps");
    var gettd=document.getElementById("compare_tab");
     var tab_count=<%=count%>;
    var battery_list =new Array();
    var com_battery=new Array();
    var vcc_main_list=new Array();
    var com_vcc_main=new Array();
    var fps_list =new Array();
    var com_fps=new Array();
    var checked_counts = 0;
    var checked_counts_toher=0;
    for(var i=0;i<inputs.length;i++){
        if(inputs[i].checked){
            $('input[name=compare_vcc_main]').each(function(idx){
                if(idx==i){
                    checked_counts_toher++;
                    if(checked_counts_toher>2){
                        $(this).prop("checked",false);
                    }else{
                        $(this).prop("checked",true);
                    }
                }
            });
            $('input[name=compare_battery]').each(function(idx){
                if(idx == i){
                    if(checked_counts_toher>2){
                        $(this).prop("checked",false);
                    }else{
                        $(this).prop("checked",true);
                    }
                }
            });
            for(var j=6;j<gettd.rows.length;j++){
            var battery_col= gettd.rows[j].cells[i+1].innerText;
            battery_list.push(battery_col);
             var vcc_main_col=gettd.rows[j].cells[i+tab_count+2].innerText;
            vcc_main_list.push(vcc_main_col);
            var fps_col=gettd.rows[j].cells[i+(tab_count+1)*2+1].innerText;
            fps_list.push(fps_col);
        }
            checked_counts++;
            if(checked_counts>2){
                alert("Is not greater than 2!");
                inputs[i].checked=false;
            }
        }else{
            $('input[name=compare_vcc_main]').each(function(idx){
                if(idx==i){
                    $(this).prop("checked",false);
                }
            });
            $('input[name=compare_battery]').each(function(idx){
                if(idx == i){
                    $(this).prop("checked", false);
                }
            });
        }
    }
    for(var i=0;i<battery_list.length/2;i++){
         com_battery.push(battery_list[i]-battery_list[battery_list.length/2+i]);
         com_vcc_main.push(vcc_main_list[i]-vcc_main_list[vcc_main_list.length/2+i]);
         com_fps.push(fps_list[i]-fps_list[fps_list.length/2+i]);
    }
    if(checked_counts==2){
        for(var j=6;j<gettd.rows.length;j++){
        gettd.rows[j].cells[inputs.length+1].innerText= parseFloat(com_battery[j-6]).toFixed(5);
        gettd.rows[j].cells[inputs.length+tab_count+2].innerText=parseFloat(com_vcc_main[j-6]).toFixed(5);
        gettd.rows[j].cells[inputs.length+tab_count*2+3].innerText=parseFloat(com_fps[j-6]).toFixed(5);
    }
    }
}
<% @all_categories.each do |category| %>
$(function(){
    var th_span=<%=count%>
    document.getElementById('battery_<%=category%>').setAttribute("colspan",1+th_span);
    document.getElementById('vcc_main_<%=category%>').setAttribute("colspan",1+th_span);
    document.getElementById('fps_<%=category%>').setAttribute("colspan",1+th_span);
});
function cmp_battery_<%=category%>(){
    var inputs = document.getElementsByName("compare_battery_<%=category%>");
    var gettd=document.getElementById("table_<%=category%>");
    var tab_count=<%=count%>;
    var battery_list =new Array();
    var com_battery=new Array();
    var vcc_main_list=new Array();
    var com_vcc_main=new Array();
    var fps_list =new Array();
    var com_fps=new Array();
    var checked_counts = 0;
    var checked_counts_toher=0;
    for(var i=0;i<inputs.length;i++){
        if(inputs[i].checked){
            $('input[name=compare_vcc_main_<%=category%>]').each(function(idx){
                if(idx==i){
                    checked_counts_toher++;
                    if(checked_counts_toher>2){
                        $(this).prop("checked",false);
                    }else{
                        $(this).prop("checked",true);
                    }
                }
            });
            $('input[name=compare_fps_<%=category%>]').each(function(idx){
                if(idx == i){
                    if(checked_counts_toher>2){
                        $(this).prop("checked",false);
                    }else{
                        $(this).prop("checked",true);
                    }
                }
            });
            for(var j=6;j<gettd.rows.length;j++){
            var battery_col= gettd.rows[j].cells[i+1].innerText;
            battery_list.push(battery_col);
             var vcc_main_col=gettd.rows[j].cells[i+tab_count+2].innerText;
            vcc_main_list.push(vcc_main_col);
            var fps_col=gettd.rows[j].cells[i+(tab_count+1)*2+1].innerText;
            fps_list.push(fps_col);
        }
            checked_counts++;
            if(checked_counts>2){
                alert("Is not greater than 2!");
                inputs[i].checked=false;
            }
        }else{
            $('input[name=compare_vcc_main_<%=category%>]').each(function(idx){
                if(idx==i){
                    $(this).prop("checked",false);
                }
            });
            $('input[name=compare_fps_<%=category%>]').each(function(idx){
                if(idx == i){
                    $(this).prop("checked", false);
                }
            });
        }
    }
    for(var i=0;i<battery_list.length/2;i++){
         com_battery.push(battery_list[i]-battery_list[battery_list.length/2+i]);
         com_vcc_main.push(vcc_main_list[i]-vcc_main_list[vcc_main_list.length/2+i]);
         com_fps.push(fps_list[i]-fps_list[fps_list.length/2+i]);
    }
    if(checked_counts==2){
        for(var j=6;j<gettd.rows.length;j++){
       gettd.rows[j].cells[inputs.length+1].innerText= parseFloat(com_battery[j-6]).toFixed(5);
        gettd.rows[j].cells[inputs.length+tab_count+2].innerText=parseFloat(com_vcc_main[j-6]).toFixed(5);
        gettd.rows[j].cells[inputs.length+tab_count*2+3].innerText=parseFloat(com_fps[j-6]).toFixed(5);
    }
    }

}
function cmp_vcc_main_<%=category%>(){
    var inputs = document.getElementsByName("compare_vcc_main_<%=category%>");
    var gettd=document.getElementById("table_<%=category%>");
    var tab_count=<%=count%>;
    var battery_list =new Array();
    var com_battery=new Array();
    var vcc_main_list=new Array();
    var com_vcc_main=new Array();
    var fps_list =new Array();
    var com_fps=new Array();
    var checked_counts = 0;
    var checked_counts_toher = 0;
    for(var i=0;i<inputs.length;i++){
        if(inputs[i].checked){
            $('input[name=compare_battery_<%=category%>]').each(function(idx){
                if(idx==i){
                    checked_counts_toher++;
                    if(checked_counts_toher>2){
                        $(this).prop("checked",false);
                    }else{
                        $(this).prop("checked",true);
                    }
                }
            });
            $('input[name=compare_fps_<%=category%>]').each(function(idx){
                if(idx == i){
                     if(checked_counts_toher>2){
                        $(this).prop("checked",false);
                    }else{
                        $(this).prop("checked",true);
                    }
                }
            });
            for(var j=6;j<gettd.rows.length;j++){
            var battery_col= gettd.rows[j].cells[i+1].innerText;
            battery_list.push(battery_col);
             var vcc_main_col=gettd.rows[j].cells[i+tab_count+2].innerText;
            vcc_main_list.push(vcc_main_col);
            var fps_col=gettd.rows[j].cells[i+(tab_count+1)*2+1].innerText;
            fps_list.push(fps_col);
        }
            checked_counts++;
            if(checked_counts>2){
                alert("Is not greater than 2!");
                inputs[i].checked=false;
            }
        }else{
            $('input[name=compare_battery_<%=category%>]').each(function(idx){
                if(idx==i){
                    $(this).prop("checked",false);
                }
            });
            $('input[name=compare_fps_<%=category%>]').each(function(idx){
                if(idx == i){
                    $(this).prop("checked", false);
                }
            });
        }
    }
    for(var i=0;i<battery_list.length/2;i++){
         com_battery.push(battery_list[i]-battery_list[battery_list.length/2+i]);
         com_vcc_main.push(vcc_main_list[i]-vcc_main_list[vcc_main_list.length/2+i]);
         com_fps.push(fps_list[i]-fps_list[fps_list.length/2+i]);
    }
    if(checked_counts==2){
        for(var j=6;j<gettd.rows.length;j++){
        gettd.rows[j].cells[inputs.length+1].innerText= parseFloat(com_battery[j-6]).toFixed(5);
        gettd.rows[j].cells[inputs.length+tab_count+2].innerText=parseFloat(com_vcc_main[j-6]).toFixed(5);
        gettd.rows[j].cells[inputs.length+tab_count*2+3].innerText=parseFloat(com_fps[j-6]).toFixed(5);
    }
    }

}
function cmp_fps_<%=category%>(){
    var inputs = document.getElementsByName("compare_fps_<%=category%>");
    var gettd=document.getElementById("table_<%=category%>");
    var tab_count=<%=count%>;
    var battery_list =new Array();
    var com_battery=new Array();
    var vcc_main_list=new Array();
    var com_vcc_main=new Array();
    var fps_list =new Array();
    var com_fps=new Array();
    var checked_counts = 0;
    var checked_counts_toher = 0;
    for(var i=0;i<inputs.length;i++){
        if(inputs[i].checked){
            $('input[name=compare_vcc_main_<%=category%>]').each(function(idx){
                if(idx==i){
                    checked_counts_toher++;
                     if(checked_counts_toher>2){
                        $(this).prop("checked",false);
                    }else{
                        $(this).prop("checked",true);
                    }
                }
            });
            $('input[name=compare_battery_<%=category%>]').each(function(idx){
                if(idx == i){
                    if(checked_counts_toher>2){
                        $(this).prop("checked",false);
                    }else{
                        $(this).prop("checked",true);
                    }
                }
            });
            for(var j=6;j<gettd.rows.length;j++){
            var battery_col= gettd.rows[j].cells[i+1].innerText;
            battery_list.push(battery_col);
             var vcc_main_col=gettd.rows[j].cells[i+tab_count+2].innerText;
            vcc_main_list.push(vcc_main_col);
            var fps_col=gettd.rows[j].cells[i+(tab_count+1)*2+1].innerText;
            fps_list.push(fps_col);
        }
            checked_counts++;
            if(checked_counts>2){
                alert("Is not greater than 2!");
                inputs[i].checked=false;
            }
        }else{
            $('input[name=compare_vcc_main_<%=category%>]').each(function(idx){
                if(idx==i){
                    $(this).prop("checked",false);
                }
            });
            $('input[name=compare_battery_<%=category%>]').each(function(idx){
                if(idx == i){
                    $(this).prop("checked", false);
                }
            });
        }
    }
    for(var i=0;i<battery_list.length/2;i++){
         com_battery.push(battery_list[i]-battery_list[battery_list.length/2+i]);
         com_vcc_main.push(vcc_main_list[i]-vcc_main_list[vcc_main_list.length/2+i]);
         com_fps.push(fps_list[i]-fps_list[fps_list.length/2+i]);
    }
    if(checked_counts==2){
        for(var j=6;j<gettd.rows.length;j++){
        gettd.rows[j].cells[inputs.length+1].innerText= parseFloat(com_battery[j-6]).toFixed(5);
        gettd.rows[j].cells[inputs.length+tab_count+2].innerText=parseFloat(com_vcc_main[j-6]).toFixed(5);
        gettd.rows[j].cells[inputs.length+tab_count*2+3].innerText=parseFloat(com_fps[j-6]).toFixed(5);
    }
    }

}
<%end%>
</script>
