<% if !@record.nil? %>
<div style="width:49.7%;float: left; margin-right: 1px;"  class="ui-widget-content" id="<%= @record.id %>" ondblclick="remove(<%= @record.id %>)">
	<h5 style="text-align: center; margin: 0 0 0 0;font-weight: bold;border-bottom:1px solid #333;"><%= @record.image_date %></h5>
	<h5 style="text-align: center; margin: 0 0 0 0;font-weight: bold;border-bottom:1px solid #333;"><%= @record.platform %></h5>
	<h5 style="text-align: center; margin: 0 0 0 0;font-weight: bold;border-bottom:1px solid #333;"><%= @record.purpose %></h5>
	<h5 style="text-align: center; margin: 0 0 0 0;font-weight: bold;border-bottom:1px solid #333;"><%= get_scenario_name(@record.power_scenario_id) %></h5>
	<h5 style="text-align: center; margin: 0 0 0 0;font-weight: bold;border-bottom:1px solid #333;">Battery:<%= @record.battery %>mA, Vcc_main:<%= @record.vcc_main %>mA</h5>
	<h5 style="text-align: center; margin: 0 0 0 0;font-weight: bold;border-bottom:1px solid #333;"><%= get_user_name_by_id(@record.submitter) %></h5>
	<h5 style="text-align: center; margin: 0 0 0 0;font-weight: bold;border-bottom:1px solid #333;">PT4 file: <a href="<%= @record.pt4_link %>" target="_blank">LINK</a></h5>
	<pre>
		<%= @record.duty_cycle %>
	</pre>
	<script language="JavaScript">
	$(function () {
		$( "#<%= @record.id %>" ).resizable();
	})
	</script>
</div>
<% end %>
