<%= stylesheet_link_tag    "compare"%>
<div class="container" role="main" id="cart">
<% if @cart.record_list.size > 0 %>
        <%= render :partial => 'cart' %>
<% end %>
</div>
<!-- page-container -->
<div class="page-container tab-content"  >
    <!-- Tab #basic -->
    <div class="tab-pane active">
        <!-- Grid row-->
            <div class="row" id="daily">

                <article class="span2">
                    <span style="font-size:14px;font-weight:bold;line-height:34px;">Select Daily</span>
                </article>

                <article class="span2">
                    <select NAME="Platform" onChange="update_device()" class="form-control">
                    <% if !@platformes.nil? %>
                        <% @platformes.each do |platform| %>
                            <option value="<%= platform %>"><%= platform %></option>
                        <% end %>
                    <% end %>
                    </select>
                </article>
                <article class="span2">
                    <select NAME="Device"  onChange="update_branch()" class="form-control" id="device">
                        <%= render :partial => 'device' %>
                    </select>
                </article>
                <article class="span2">
                    <select NAME="Branch" class="form-control" id="branch" onChange="update_datepicker()">
                        <%= render :partial => 'branch' %>
                    </select>
                </article>
                <article class="span2">
                    <div style="background-color:#FFFFFF;display:inline;" onload="showLeftTime()" >
                        <input name="ImageDate" class="datepicker" style="width: 80px;" type="text"/>
                    </div>
                </article>
                <article class="span2">
                        <input  onclick="add_daily_scenarios_to_cart()" name="submit" value="Add to Compare" class="btn btn-info btn-wuxia"/>
                </article>
            </div>
        <!--Grid row-->
            <div  class="row">
                <article class="span12" id="task">
                    <%= render :template => "/ondemand/_task_info" %>
                </article>
                    <div id="task_scenario">
                        <%= render :template => "/ondemand/_scenario_info" %>
                    </div>
            </div>
    </div>
<!--top-->
</div>
<!--mian-->
<div style="display: block;" class="floor_left_box">
    <a id="top" title="Back To Top"></a>
    <a id="bottom" title="Back To Top"></a>
</div>
<script>
function update_datepicker(){
    var branch = $("select[name='Branch']").val();
    var device = $("select[name='Device']").val();
    $.ajax({
        type: "GET",
        data: {branch:branch, device: device},
        headers: {
            'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
          },
        url: "update_datepicker",
        success: function(msg){
        }
    });
}

function update_device(){
    var platform = $("select[name='Platform']").val();
    var device = $("select[name='Device']").val();
    $.ajax({
        type: "GET",
        data: {platform:platform, device: device},
        headers: {
            'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
          },
        url: "get_device",
        success: function(msg){
        }
    });
}
function update_branch(){
    var platform = $("select[name='Platform']").val();
    var device = $("select[name='Device']").val();
    $.ajax({
        type: "GET",
        data: {platform:platform, device: device},
        headers: {
            'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
          },
        url: "get_branch",
        success: function(msg){
        }
    });
}

$(function() {
    $('.datepicker').datepicker({
            todayHighlight: true,
            format: "yyyy-mm-dd",
            datesDisabled: [
            <% @datesEnable.each do |image| %>
                    '<%= image.image_date %>',
            <% end %>
            ]
 });
$("#top").click(function(){
        $("html,body").animate({scrollTop: 0}, 500);
    });
$("#bottom").click(function(){
        $('html, body').animate({scrollTop: $("#daily").offset().top}, 500);
    });
})

function add_daily_scenarios_to_cart(){
    var update_cart_url = "/compare/add_daily_compare";
    var ImageDate = $("input[name='ImageDate']").val();
    var Device = $("select[name='Device']").val();
    var Platform = $("select[name='Platform']").val();
    var Branch = $("select[name='Branch']").val();
    $.ajax({
        type: "POST",
        data: {ImageDate:ImageDate, Device: Device, Platform:Platform, Branch:Branch},
        headers: {
            'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
          },
        url: update_cart_url,
        success: function(msg){
            $("#extruderRight").setMbExtruderContent({
                        url:"/carts"
            });
        }
    });
}

function add_to_cart (th,power_record_id) {
    var update_cart_url = "/compare/create_by_scenario";
    $.ajax({
        type: "POST",
        data: "power_record_id=" + power_record_id,
        headers: {
            'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
          },
        url: update_cart_url,
        success: function(msg){
            $("#extruderRight").setMbExtruderContent({
                            url:"/carts"
                        });

            $(th).find("span").removeClass(" icon-refresh");
            $(th).find("span").addClass("icon-ok");
        }
    });
}
function add_task_scenarios_to_cart(task_id) {
    var update_cart_url = "/compare/create_by_task";
    $.ajax({
        type: "POST",
        data: "task_id=" + task_id,
        headers: {
            'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
          },
        url: update_cart_url,
        success: function(msg){
            $("#extruderRight").setMbExtruderContent({
                        url:"/carts"
            });
        }
    });
}

function remove_by_taskid(task_id){
    var update_cart_url = "/compare/remove_by_taskid";
    $.ajax({
        type: "POST",
        data: "task_id=" + task_id,
        headers: {
            'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
          },
        url: update_cart_url,
        success: function(msg){
        }
    });
}

</script>
<div class="modal fade hide" id="dcInfoModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Duty Cycle</h3>
    </div>
    <div class="modal-body" id="dc_info">
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-wuxia btn-primary" data-dismiss="modal">Close</a>
    </div>
</div>

<footer>
    <a class="btn btn-wuxia btn-primary" data-toggle="modal" href="#dcInfoModal" style="bottom:0;left:0;right:0;position: fixed;">Click to Show Duty Cycle Info</a>

</footer>
