<%= stylesheet_link_tag    "compare"%>
<div class="container" role="main" id="cart">
        <%= render :partial => 'cart' %>
</div>
<!-- page-container -->
<div class="page-container tab-content"  >
    <!-- Tab #basic -->
    <div class="tab-pane active">
        <!-- Grid row-->
            <div class="row">
                    <div class="control-group">
                        <span>Select Daily</span>
                            <select NAME="Platform" onChange="getBranch()" >
                                <option VALUE="pxa1908">pxa1908</option>
                                <option VALUE="pxa1928">pxa1928</option>
                                <option VALUE="pxa1936">pxa1936</option>
                                <option VALUE="pxa1U88">pxa1U88</option>
                            </select>
                    </div>
                <%= form_tag("#", method: "post", remote: true, value: "form_authenticity_token") do %>
                    <ul>
                        <fieldset>
                        <li>
                                <h4>></h4>
                        </li>
                        <li>
                            <select NAME="Platform" onChange="getBranch()" >
                                <option VALUE="pxa1908">pxa1908</option>
                                <option VALUE="pxa1928">pxa1928</option>
                                <option VALUE="pxa1936">pxa1936</option>
                                <option VALUE="pxa1U88">pxa1U88</option>
                            </select>
                        </li>
                        <li>
                            <select NAME="Device">
                                <option VALUE="pxa1908dkb">pxa1908dkb</option>
                                <option VALUE="pxa1928dkb">pxa1928dkb</option>
                                <option VALUE="pxa1936dkb">pxa1936dkb</option>
                            </select>
                        </li>
                        <li>
                            <select NAME="Branch">
                                <option VALUE="kk4.4_master">kk4.4_master</option>
                                <option VALUE="kk4.4_beta2">kk4.4_beta2</option>
                                <option VALUE="lp5.0_master">lp5.0_master</option>
                            </select>
                        </li>
                        <li>
                            <div style="background-color:#FFFFFF">
                                <div class="controls">
                                    <div class="input-append" onload="showLeftTime()" >
                                        <input name="ImageDate" class="datepicker" style="width: 80px;" type="text"/>
                                        <span class="add-on"><i class="icon-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <input  onclick="add_daily_scenarios_to_cart()" name="submit" value="Add to Compare" class="btn btn-info btn-wuxia">
                        </li>
                        </fieldset>
                    </ul>
                <% end %>
            </div>
        <!--Grid row-->
            <div  class="row">
                <h4>Select Ondemand</h4>
                <article class="span12" id="task">
                    <%= render :template => "/ondemand/_task_info" %>
                </article>
                    <div id="task_scenario">
                        <%= render :template => "/ondemand/_scenario_info" %>
                    </div>
            </div>
    </div>
<!--top-->
</div>
<!--mian-->
<script>
$(document).ready(function() {
    $('.datepicker').datepicker('setValue', new Date());
});

function add_daily_scenarios_to_cart(){
    var update_cart_url = "/compare/add_daily_compare";
    var ImageDate = $("input[name='ImageDate']").val();
    var Device = $("select[name='Device']").val();
    var Platform = $("select[name='Platform']").val();
    var Branch = $("select[name='Branch']").val();
    $.ajax({
        type: "POST",
        data: {ImageDate:ImageDate, Device: Device, Platform:Platform, Branch:Branch},
        headers: {
            'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
          },
        url: update_cart_url,
        success: function(msg){
            $("#extruderRight").setMbExtruderContent({
                        url:"/carts"
            });
        }
    });
}

function add_to_cart (th,power_record_id) {
    var update_cart_url = "/compare/create_by_scenario";
    $.ajax({
        type: "POST",
        data: "power_record_id=" + power_record_id,
        headers: {
            'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
          },
        url: update_cart_url,
        success: function(msg){
            $("#extruderRight").setMbExtruderContent({
                            url:"/carts"
                        });

            $(th).find("span").removeClass(" icon-refresh");
            $(th).find("span").addClass("icon-ok");
        }
    });
}
function add_task_scenarios_to_cart(task_id) {
    var update_cart_url = "/compare/create_by_task";
    $.ajax({
        type: "POST",
        data: "task_id=" + task_id,
        headers: {
            'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
          },
        url: update_cart_url,
        success: function(msg){
            $("#extruderRight").setMbExtruderContent({
                        url:"/carts"
            });
        }
    });
}

function remove_by_taskid(task_id){
    var update_cart_url = "/compare/remove_by_taskid";
    $.ajax({
        type: "POST",
        data: "task_id=" + task_id,
        headers: {
            'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
          },
        url: update_cart_url,
        success: function(msg){
        }
    });
}

</script>
<div class="modal fade hide" id="dcInfoModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Duty Cycle</h3>
    </div>
    <div class="modal-body" id="dc_info">
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-wuxia btn-primary" data-dismiss="modal">Close</a>
    </div>
</div>

<footer>
    <a class="btn btn-wuxia btn-primary" data-toggle="modal" href="#dcInfoModal" style="bottom:0;left:0;right:0;position: fixed;">Click to Show Duty Cycle Info</a>

</footer>
