<%= stylesheet_link_tag    "jquery-ui"%>
<%= stylesheet_link_tag    "ppat"%>
<!--top-->
<div id="top">
    <!-- Grid row-->
    <div class="row topcenter">
            <article class="span4">
                <input type="radio" name="radio_chart" value="thermal" checked="checked" onclick="show('thermal')">Thermal
                <input type="radio" name="radio_chart" value="battery" onclick="show('battery')">Battery
                <input id="editcheckboxId" type="checkbox">Edit Comments
            </article>
    </div>
    <!--Grid row-->
</div>
<!--top-->

<div class="container" role="main" id="thermal_record">
    <%= render :partial => 'index' %>
</div>

<div  id="dialog-form"  title="Add Comments">
    <p class="validateTips">All form fields are required.</p>
    <form>
        <fieldset>
            <label id="soc" class="label-none-block"><%= @device %> </label>,
            <label id="os" class="label-none-block"><%= @branch %></label></br>

            <label id="imagedate"  class="label-none-block"></label>,
            <label id="casename" class="label-none-block"></label>,
            <label id="power" class="label-none-block"></label>°C</br>

            <label for="comment" class="label-none-block">Comments</label></br>
            <textarea name="comment" id="comment" rows="3" cols="50" class="text ui-widget-content ui-corner-all"></textarea></br>

            <label for="email" class="label-none-block">Email</label></br>
            <input type="text" name="email" id="email" value="" class="text ui-widget-content ui-corner-all"></br>

            <label for="verify" class="label-none-block">Verify</label></br>
            <input type="radio" name="verify" id="passverify" value="P" class="text ui-widget-content ui-corner-all">Pass
            <input type="radio" name="verify" id="failverify" value="F" class="text ui-widget-content ui-corner-all">Fail

            </br>
        </fieldset>
    </form>
</div>

<div class="modal fade hide" id="dcInfoModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Thermal Info</h3>
    </div>
    <div class="modal-body" id="dc_info">
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-wuxia btn-primary" data-dismiss="modal">Close</a>
    </div>
</div>

<footer>
    <a class="btn btn-wuxia btn-primary" data-toggle="modal" href="#dcInfoModal" style="bottom:0;left:0;right:0;position: fixed;">Click to Show Thermal Info</a>

</footer>
<script language="javascript">

$(document).ready(function() {
   $('#datepicker').datepicker('setValue', new Date());
});
/* show footer Duty Cycle */
function show_dc(caseName, power,image_date){
    var task_url = "show_dc?scenario=" + caseName + "&battery=" + power + "&image_date=" + image_date;
    $.ajax({
        type: "GET",
        url: task_url,
        success: function(msg){
            $("footer").css("display","block");
            $("#dc_info").append(msg);
        }
    });
}

function show(chart_type){
    if(chart_type == "battery"){
        $("#chart_container_battery").css("display", "block");
        $("#chart_container_thermal").css("display", "none");
    }else{
        $("#chart_container_battery").css("display", "none");
        $("#chart_container_thermal").css("display", "block");
    }
}
function getComment(image_date, temp){
    var comments = "";
    var strURL = "get_comment?image_date=" + image_date + "&temp=" + temp;
    $.ajax({
        type: "GET",
        url: strURL,
        async: false,
        success: function(msg){
            comments=msg;
        }
    });
    return comments;
}
function getVerify(image_date, temp){
    var v = "";
    var strURL = "get_verify?image_date=" + image_date + "&temp=" + temp;
    $.ajax({
        type: "GET",
        url: strURL,
        async: false,
        success: function(msg){
            v=msg;
        }
    });
    return v;
}

function updateComment(imagedate, casename, temp, comment, email,verify, device, branch){
    var strURL = "update_comments?casename=" +encodeURIComponent(casename) + "&temp=" + encodeURIComponent(temp) + "&comments=" + encodeURIComponent(comment + "\n" + email) + "&verified=" +verify + "&imagedate=" + encodeURIComponent(imagedate) + "&device=" + device + "&branch=" + branch;
    $.ajax({
        type: "GET",
        url: strURL,
        success: function(msg){
            $("#container").location.reload();
        }
    });
}
</script>