<% @all_purposes = get_distinct_purposes() %>
<% @all_categories = get_distinct_scenario_categories() %>
<%@get_scenario_name_comall=get_scenario_name_comall()%>
<div style="text-align: center; background-color:#FFFFFFF;">
    <center>
        <article>
            <ul class="nav nav-tabs" id="compare_scenario_category">
                    <li><a href="#All">All</a></li>
                <% @all_categories.each do |category| %>
                    <li><a href="#<%= category %>"><%= category %></a></li>
                <% end %>
            </ul>
            <div class="tab-content">
                    <div class="tab-pane" id="All">
                        <div id="chart_container_All" style="min-width: 70%; height: 400px; margin: 0 auto">
                        </div>
                        <table class="table table-wuxia">
                                <thead>
                                    <tr>
                                        <th>Scenario</th>
                                        <th colspan="6">Battery</th>
                                        <th colspan="6">Vcc_main</th>
                                        <th colspan="6">Fps</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%@get_scenario_name_comall.each do |scenarioname|%>
                                        <tr>
                                            <td><%=scenarioname.name%></td>
                                                <% @cart.record_list.each do |record| %>
                                                    <%@get_power_record_info_all=get_power_record_info_all(record.power_record.id,scenarioname.id)%>
                                                    <%@get_power_record_info_all.each do |powerrecordinfo|%>
                                                        <td><%=powerrecordinfo.battery%></td>
                                                    <%end%>
                                                <%end%>
                                            <td></td>
                                                <% @cart.record_list.each do |record| %>
                                                    <%@get_power_record_info_all=get_power_record_info_all(record.power_record.id,scenarioname.id)%>
                                                    <%@get_power_record_info_all.each do |powerrecordinfo|%>
                                                        <td><%=powerrecordinfo.vcc_main%></td>
                                                    <%end%>
                                                <%end%>
                                            <td></td>
                                                <% @cart.record_list.each do |record| %>
                                                    <%@get_power_record_info_all=get_power_record_info_all(record.power_record.id,scenarioname.id)%>
                                                    <%@get_power_record_info_all.each do |powerrecordinfo|%>
                                                        <td><%=powerrecordinfo.fps%></td>
                                                    <%end%>
                                                <%end%>
                                            <td></td>
                                        </tr>
                                    <%end%>
                                </tbody>
                        </table>
                    </div>
                    <% @all_categories.each do |category| %>
                    <div class="tab-pane" id="<%= category %>">
                        <div id="chart_container<%= category %>" style="min-width: 70%; height: 400px; margin: 0 auto">
                        </div>
                        <table class="table table-wuxia">
                            <thead>
                                <tr>
                                        <th>Image Date</th>
                                        <th>Platform</th>
                                        <th>Device</th>
                                        <th>Branch</th>
                                        <th>Purpose</th>
                                        <th>Scenario</th>
                                        <th>Battey</th>
                                        <th>Vcc_main</th>
                                        <th>Submitter</th>
                                        <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @cart.record_list.each do |record| %>
                                    <% if get_scenario_category(record.power_record.power_scenario_id) == category %>
                                        <tr>
                                                    <td><%= get_record_info(record.power_record.id).image_date %></td>
                                                    <td><%= get_record_info(record.power_record.id).platform %></td>
                                                    <td><%= get_record_info(record.power_record.id).device %></td>
                                                    <td><%= get_record_info(record.power_record.id).branch %></td>
                                                    <td><%= get_record_info(record.power_record.id).purpose %></td>
                                                    <td><%= get_scenario_name(record.power_record.power_scenario_id) %></td>
                                                    <td><%= get_record_info(record.power_record.id).battery %></td>
                                                    <td><%= get_record_info(record.power_record.id).vcc_main %></td>
                                                    <td><%= get_record_info(record.power_record.id).submitter %></td>
                                            <td onclick="remove_from_cart(this, '<%= record.id %>')"><span class="icon-remove"></span></td>
                                        </tr>
                                    <% end %>
                                <% end %>
                            </tbody>
                        </table>
                        </div>
                    <% end %>
            </div>
        </article>
    </center>
</div>

<script>
$(function () {
    $('#chart_container_All').highcharts({
        chart: {
             type: 'column'
         },
        title: {
            text: ''
        },
        xAxis: {
            categories: [
                <% @cart.record_list.each do |record| %>
                    '<%= get_scenario_name(record.power_record.power_scenario_id) %>',
                <% end %>
            ]
        },
        yAxis: {
            min: 5,
            title: {
             text: 'power'
            }
        },
         tooltip: {
            headerFormat: '<span style="font-size:12px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} mA</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
        },
        plotOptions: {
            column: {
            pointPadding: 0.2,
            borderWidth: 0
            },
            series: {
               cursor: 'pointer',
               events: {
                click: function show_dc(battery){
                        var point_y =battery.point.y;
                        var task_url = "get_dc?battery=" + point_y;
                        $.ajax({
                            type: "GET",
                            url: task_url,
                            success: function(msg){
                                $("footer").css("display","block");
                                $("#dc_info").append(msg);
                                $("#" + battery).resizable();
                            }
                        });
                    }
              }
         }
        },
        series: [
            <% @all_purposes.each do |purpose| %>
                {
                    name: '<%= purpose %>',
                    data: [
                        <% @cart.record_list.each do |record| %>
                            <% if get_record_info(record.power_record.id).purpose == purpose %>
                                <%= get_record_info(record.power_record.id).battery.to_f %>,
                            <% end %>
                        <% end %>
                    ]
                },
            <% end %>
            ]
        });
});

<% @all_categories.each do |category| %>
$(function () {
    $('#chart_container<%= category %>').highcharts({
        chart: {
             type: 'column'
         },
        title: {
            text: ''
        },
        xAxis: {
            categories: [
                <% @cart.record_list.each do |record| %>
                    <% if get_scenario_category(record.power_record.power_scenario_id) == category %>
                    '<%= get_scenario_name(record.power_record.power_scenario_id) %>',
                    <% end %>
                <% end %>
            ]
        },
        yAxis: {
            min: 5,
            title: {
             text: 'power'
            }
        },
         tooltip: {
            headerFormat: '<span style="font-size:12px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} mA</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
        },
        plotOptions: {
            column: {
            pointPadding: 0.2,
            borderWidth: 0
            },
            series: {
               cursor: 'pointer',
               events: {
                click: function show_dc(battery){
                        var point_y =battery.point.y;
                        var task_url = "get_dc?battery=" + point_y;
                        $.ajax({
                            type: "GET",
                            url: task_url,
                            success: function(msg){
                                $("footer").css("display","block");
                                $("#dc_info").append(msg);
                                $("#" + battery).resizable();
                            }
                        });
                    }
              }
         }
        },
        series: [
            <% @all_purposes.each do |purpose| %>
                {
                    name: '<%= purpose %>',
                    data: [
                        <% @cart.record_list.each do |record| %>
                            <% if get_scenario_category(record.power_record.power_scenario_id) == category %>
                                <% if get_record_info(record.power_record.id).purpose == purpose %>
                                    <%= get_record_info(record.power_record.id).battery.to_f %>,
                                <% end %>
                            <% end %>
                        <% end %>
                    ]
                },
            <% end %>
            ]
        });
});
<% end %>

$(function () {
        $('#compare_scenario_category a:first').tab('show');
        $('#compare_scenario_category a').click(function (e){
            e.preventDefault();
          $(this).tab('show');
        })
})

function nTabs(thisObj, Num) {
    if (thisObj.className == "active")
        return;
    var tabObj = thisObj.parentNode.id;
    var tabList = document.getElementById(tabObj)
            .getElementsByTagName("li");
    for (i = 0; i < tabList.length; i++) {
        if (i == Num) {
            thisObj.className = "active";
            document.getElementById(tabObj + "_container" + i).style.display = "block";

        } else {
            tabList[i].className = "normal";
            document.getElementById(tabObj + "_container" + i).style.display = "none";

        }
    }
}
</script>
