<% @all_purposes = get_distinct_purposes() %>
<% @all_categories = get_distinct_scenario_categories() %>
<table class="table table-bordered table-striped" id="cart_list">
    <thead>
        <tr>
            <th>Battery</th>
            <th>Vcc_main</th>
            <th>FPS</th>
        </tr>
    </thead>
    <tbody>
    <% @cart.record_list.each do |record| %>
        <tr id="<%= record.power_record.id %>">
            <td><%= get_record_info(record.power_record.id).battery %></td>
            <td><%= get_record_info(record.power_record.id).vcc_main %></td>
            <td><%= get_record_info(record.power_record.id).fps %></td>
            <td onclick="remove_from_cart(this, '<%= record.id %>')"><span class="icon-remove"></span></td>
        </tr>
        <% end %>
    </tbody>
</table>
<div style="display:inline">
    <button class="btn btn-danger" onclick="empty_cart()">Empty</button>
    <form method="get" action="/compare/index" style="display:inline;">
        <button class="btn btn-info">Go to Compare</button>
    </form>
</div>
<SCRIPT LANGUAGE="JavaScript">
function empty_cart(){
    var carts_url = "/carts/empty";
    $.ajax({
        type: "POST",
        headers: {
            'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
          },
        url: carts_url,
        success: function(msg){
            $("#cart_list").find("tr td").each(function(){
                $(this).fadeOut(100,function(){
                    $(this).remove();
                });
            });
        }
    });
}

function remove_from_cart (rm_this,record_id) {
    var record_list_url = "/record_lists/delete";
    $.ajax({
        type: "POST",
        data: "id=" + record_id,
        headers: {
            'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
          },
        url: record_list_url,
        success: function(msg){
            $(rm_this).parent().fadeOut(100, function(){
                $(rm_this).parent().remove();
            });
        }
    });
}
</SCRIPT>
