<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Battery</th>
            <th>Vcc_main</th>
            <th>FPS</th>
        </tr>
    </thead>
    <tbody>
    <% @carts.record_list.each do |record| %>
        <tr>
            <td><%= get_record_info(record.power_record.id).battery %></td>
            <td><%= get_record_info(record.power_record.id).vcc_main %></td>
            <td><%= get_record_info(record.power_record.id).fps %></td>
            <td onclick="remove_from_cart('<%= record.id %>')"><span class="icon-remove"></span></td>
        </tr>
        <% end %>
    </tbody>
</table>
<SCRIPT LANGUAGE="JavaScript">
function remove_from_cart (record_id) {
    var record_list_url = "/record_lists/delete";
    $.ajax({
        type: "POST",
        data: "id=" + record_id,
        headers: {
            'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
          },
        url: record_list_url,
        success: function(msg){
            //do nothing
        }
    });
}
</SCRIPT>
