<% if @category == "All" %>
    <div id="chart_container_All" style="min-width: 70%; height: 600px; margin: 0 auto">
    </div>
    <div id="chart_container_vcc_main_All" style="min-width: 70%; height: 600px; margin: 0 auto;display:none;">
    </div>
    <table class="table table-wuxia">
            <thead>
                <tr>
                    <th colspan="2"><%= @last_image %></th>
                        <% @scenarios.each do |scenario| %>
                            <% if scenario.name.index('(').nil? %>
                                <th> <%= scenario.name %></th>
                            <% else %>
                                <th> <%= get_sub_name_first(scenario.name) %><br/><%= get_sub_name_last(scenario.name) %></th>
                            <% end %>
                        <% end %>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="5">Battery</td>
                    <td >Today</td>
                    <% @scenarios.each do |scenario| %>
                        <td>
                            <% get_daily_power(@last_image, scenario.id, @device, @branch).each do |consumption| %>
                                <%= get_sub_power(consumption.battery) %>
                            <% end %>
                        </td>
                    <% end %>
                </tr>

                <tr>
                    <td>
                    <% if @lcd.nil? %>
                        <% @lcdbacklight = 0 %>
                    <% else %>
                        <% @lcdbacklight = 100 - @lcd.battery.to_f %>
                    <% end %>
                    LCD=100mA,
                    <a href="#" class="btn btn-flat btn-danger Popover" title="<%= @device %> LCD power" data-content="
                        <table class='table table-bordered table-striped'>
                            <tr>
                                <th><%= @device %></th>
                                <th>Battery(mA)</th>
                                <th>Vcc_main(mA)</th>
                            </tr>
                            <% @lcd_infos.each do |item| %>
                            <tr>
                                    <td><%= item.item %></td>
                                    <td><%= item.battery %></td>
                                    <td><%= item.vcc_main %></td>
                            </tr>
                            <% end %>
                        </table>">
                        <% if @lcdbacklight >= 0 %>
                            +<%= @lcdbacklight%>
                        <% else %>
                            <%= @lcdbacklight%>
                        <% end %>
                        </a>
                    </td>
                    <% @scenarios.each do |scenario| %>
                        <td>
                            <% get_daily_power(@last_image, scenario.id, @device, @branch).each do |consumption| %>
                                    <%= get_sub_power((get_sub_power(consumption.battery).to_f + @lcdbacklight).to_s) %>
                            <% end %>
                        </td>
                    <% end %>
                </tr>

                <tr>
                    <td>&Delta; <%= @latest_image %></td>
                    <% @scenarios.each do |scenario| %>
                        <td>
                            <% get_daily_power(@last_image, scenario.id, @device, @branch).each do |record| %>
                                <% last_power = get_last_power(@latest_image, scenario.id, @device, @branch) %>
                                <% if last_power.nil? %>
                                    <font color="#000000"></font>
                                <% else %>
                                    <% if (record.battery.to_f - last_power.battery.to_f) < 0 %>
                                        <font color=green><%= get_sub_power((record.battery.to_f - last_power.battery.to_f).to_s) %></font>
                                    <% end %>
                                    <% if (record.battery.to_f - last_power.battery.to_f) == 0 %>
                                        <font color="#000000"><%= get_sub_power((record.battery.to_f - last_power.battery.to_f).to_s) %></font>
                                    <% end %>
                                    <% if (record.battery.to_f - last_power.battery.to_f) > 0 %>
                                        <font color=FF0000><%= get_sub_power((record.battery.to_f - last_power.battery.to_f).to_s) %></font>
                                    <% end %>
                                    <% end %>
                                <% end %>
                            <% end %>
                        </td>
                </tr>

                <tr>
                        <td>
                            <font>Target(<%= @resolution %>)</font>
                        </td>
                        <% @scenarios.each do |scenario| %>
                            <% target = get_target(scenario.id, @device, @resolution) %>
                            <% if  !target.nil? and target.battery.to_f > 0 %>
                                <td><font color=blue><%= target.battery %></font></td>
                            <% else %>
                                <td><font color=black></font></td>
                            <% end %>
                        <% end %>
                </tr>
                <tr>
                    <td><font>&Delta; Target</font></td>
                    <% @scenarios.each do |scenario| %>
                        <td>
                        <% target = get_target(scenario.id, @device, @resolution) %>
                        <% get_daily_power(@last_image, scenario.id, @device, @branch).each do |record| %>
                            <% if target.nil? || target.battery.to_f == 0 %>
                                <font color="#000000"></font>
                            <% else %>
                                <% diff = record.battery.to_f - target.battery.to_f %>
                                <% if diff < 0 %>
                                    <font color=green><%= get_sub_power(diff.to_s) %></font>
                                <% end %>
                                <% if diff == 0 %>
                                    <font color="#000000"><%= get_sub_power(diff.to_s) %></font>
                                <% end %>
                                <% if diff > 0 %>
                                    <font color=FF0000><%= get_sub_power(diff.to_s) %></font>
                                <% end %>
                            <% end %>
                        <% end %>
                        </td>
                    <% end %>
                </tr>

                 <tr>
                    <td rowspan="4">Vcc_Main</td>
                    <td>Today</td>
                    <% @scenarios.each do |scenario| %>
                        <td>
                        <% get_daily_power(@last_image, scenario.id, @device, @branch).each do |consumption| %>
                                <%= get_sub_power(consumption.vcc_main) %>
                        <% end %>
                        </td>
                    <% end %>
                </tr>

                 <tr>
                    <td>&Delta; <%= @latest_image %></td>
                    <% @scenarios.each do |scenario| %>
                        <td>
                        <% get_daily_power(@last_image, scenario.id, @device, @branch).each do |consumption| %>
                            <% last_power = get_last_power(@latest_image, scenario.id, @device, @branch) %>
                            <% if last_power.nil? %>
                                <font color="#000000"></font>
                            <% else %>
                                <% if (consumption.vcc_main.to_f - last_power.vcc_main.to_f) < 0 %>
                                <font color=green><%= get_sub_power((consumption.vcc_main.to_f - last_power.vcc_main.to_f).to_s) %></font>
                                <% end %>
                            <% if (consumption.vcc_main.to_f - last_power.vcc_main.to_f) == 0 %>
                                <font color="#000000"><%= get_sub_power((consumption.vcc_main.to_f - last_power.vcc_main.to_f).to_s) %></font>
                                <% end %>
                                <% if (consumption.vcc_main.to_f - last_power.vcc_main.to_f) > 0 %>
                                <font color=red><%= get_sub_power((consumption.vcc_main.to_f - last_power.vcc_main.to_f).to_s) %></font>
                                <% end %>
                            <% end %>
                        <% end %>
                    <% end %>
                    </td>
                </tr>

                <tr>
                        <td>
                            <font>Target(<%= @resolution %>)</font>
                        </td>
                        <% @scenarios.each do |scenario| %>
                            <% target = get_target(scenario.id, @device, @resolution) %>
                            <% if  !target.nil? and target.vcc_main.to_f > 0 %>
                                <td><font color=blue><%= target.vcc_main %></font></td>
                            <% else %>
                                <td><font color=black></font></td>
                            <% end %>
                        <% end %>
                </tr>
                <tr>
                    <td><font>&Delta; Target</font></td>
                    <% @scenarios.each do |scenario| %>
                        <td>
                        <% target = get_target(scenario.id, @device, @resolution) %>
                        <% get_daily_power(@last_image, scenario.id, @device, @branch).each do |record| %>
                            <% if target.nil? || target.battery.to_f == 0 %>
                                <font color="#000000"></font>
                            <% else %>
                                <% diff = record.vcc_main.to_f - target.vcc_main.to_f %>
                                <% if diff < 0 %>
                                    <font color=green><%= get_sub_power(diff.to_s) %></font>
                                <% end %>
                                <% if diff == 0 %>
                                    <font color="#000000"><%= get_sub_power(diff.to_s) %></font>
                                <% end %>
                                <% if diff > 0 %>
                                    <font color=FF0000><%= get_sub_power(diff.to_s) %></font>
                                <% end %>
                            <% end %>
                        <% end %>
                        </td>
                    <% end %>
                </tr>

                <tr>
                    <td colspan="2">FPS</td>
                    <% @scenarios.each do |scenario| %>
                    <td> <% get_daily_power(@last_image, scenario.id, @device, @branch).each do |consumption| %>
                            <% @fps = get_sub_power(consumption.fps) %>
                            <% if @fps != 0 %>
                                <%= @fps %>
                            <% end %>
                    <% end %>
                    </td>
                <% end %>
                </tr>
            </tbody>
    </table>
<% else %>
    <div id="chart_container_<%= @category %>" style="min-width: 70%; height: 400px; margin: 0 auto">
    </div>
    <div id="chart_container_vcc_main_<%= @category %>" style="min-width: 70%; height: 400px; margin: 0 auto;display:none;">
    </div>
    <table class="table table-wuxia" border='0' align="center" cellspacing="1" cellpadding="0" bgcolor="#000000">
            <thead>
                <tr>
                    <th colspan="2"><%= @last_image %></th>
                        <% @scenarios.each do |scenario| %>
                            <% if scenario.category == @category %>
                                <% if scenario.name.index('(').nil? %>
                                    <th> <%= scenario.name %></th>
                                <% else %>
                                    <th> <%= get_sub_name_first(scenario.name) %><br/><%= get_sub_name_last(scenario.name) %></th>
                                <% end %>
                            <% end %>
                        <% end %>
                </tr>
            </thead>
            <tbody>
                <% @scenarios.each do |scenario| %>
                    <% if scenario.category == @category %>
                        <tr>
                            <td rowspan="5">Battery</td>
                            <td >Today</td>
                            <td>
                                <% get_daily_power(@last_image, scenario.id, @device, @branch).each do |consumption| %>
                                    <%= get_sub_power(consumption.battery) %>
                                    <br/>
                                <% end %>
                            </td>
                        </tr>

                        <tr>
                            <td>
                            <% if @lcd.nil? %>
                                <% @lcdbacklight = 0 %>
                            <% else %>
                                <% @lcdbacklight = 100 - @lcd.battery.to_f %>
                            <% end %>
                            LCD=100mA,
                            <a href="#" class="btn btn-flat btn-danger Popover" title="<%= @device %> LCD power" data-content="
                                <table class='table table-bordered table-striped'>
                                    <tr>
                                        <th><%= @device %></th>
                                        <th>Battery(mA)</th>
                                        <th>Vcc_main(mA)</th>
                                    </tr>
                                    <% @lcd_infos.each do |item| %>
                                    <tr>
                                            <td><%= item.item %></td>
                                            <td><%= item.battery %></td>
                                            <td><%= item.vcc_main %></td>
                                    </tr>
                                    <% end %>
                                </table>">
                                <% if @lcdbacklight >= 0 %>
                                    +<%= @lcdbacklight%>
                                <% else %>
                                    <%= @lcdbacklight%>
                                <% end %>
                                </a>
                            </td>
                            <td>
                            <% get_daily_power(@last_image, scenario.id, @device, @branch).each do |consumption| %>
                                <%= get_sub_power((get_sub_power(consumption.battery).to_f + @lcdbacklight).to_s) %>
                            <% end %>
                            </td>
                        </tr>
                    <% end %>
                <% end %>



                <tr>
                    <td rowspan="5">Battery</td>
                    <td >Today</td>
                    <% @scenarios.each do |scenario| %>
                        <% if scenario.category == @category %>
                            <td>
                                <% get_daily_power(@last_image, scenario.id, @device, @branch).each do |consumption| %>
                                    <%= get_sub_power(consumption.battery) %>
                                    <br/>
                                <% end %>
                            </td>
                        <% end %>
                <% end %>
                </tr>

                <tr>
                    <td>
                    <% if @lcd.nil? %>
                        <% @lcdbacklight = 0 %>
                    <% else %>
                        <% @lcdbacklight = 100 - @lcd.battery.to_f %>
                    <% end %>
                    LCD=100mA,
                    <a href="#" class="btn btn-flat btn-danger Popover" title="<%= @device %> LCD power" data-content="
                        <table class='table table-bordered table-striped'>
                            <tr>
                                <th><%= @device %></th>
                                <th>Battery(mA)</th>
                                <th>Vcc_main(mA)</th>
                            </tr>
                            <% @lcd_infos.each do |item| %>
                            <tr>
                                    <td><%= item.item %></td>
                                    <td><%= item.battery %></td>
                                    <td><%= item.vcc_main %></td>
                            </tr>
                            <% end %>
                        </table>">
                        <% if @lcdbacklight >= 0 %>
                            +<%= @lcdbacklight%>
                        <% else %>
                            <%= @lcdbacklight%>
                        <% end %>
                        </a>
                    </td>
                    <% @scenarios.each do |scenario| %>
                            <% if scenario.category == @category %>
                                <td>
                                <% get_daily_power(@last_image, scenario.id, @device, @branch).each do |consumption| %>
                                    <%= get_sub_power((get_sub_power(consumption.battery).to_f + @lcdbacklight).to_s) %>
                                <% end %>
                                </td>
                            <% end %>
                    <% end %>
                </tr>

                <tr>
                    <td>&Delta;  <%= @latest_image %></td>
                    <% @scenarios.each do |scenario| %>
                            <% if scenario.category == @category %>
                                <td>
                                    <% get_daily_power(@last_image, scenario.id, @device, @branch).each do |record| %>
                                        <% last_power = get_last_power(@latest_image, scenario.id, @device, @branch) %>
                                        <% if last_power.nil? %>
                                            <font color="#000000"></font>
                                        <% else %>
                                            <% if (record.battery.to_f - last_power.battery.to_f) < 0 %>
                                                <font color=green><%= get_sub_power((record.battery.to_f - last_power.battery.to_f).to_s) %></font>
                                            <% end %>
                                            <% if (record.battery.to_f - last_power.battery.to_f) == 0 %>
                                                <font color="#000000"><%= get_sub_power((record.battery.to_f - last_power.battery.to_f).to_s) %></font>
                                            <% end %>
                                            <% if (record.battery.to_f - last_power.battery.to_f) > 0 %>
                                                <font color=FF0000><%= get_sub_power((record.battery.to_f - last_power.battery.to_f).to_s) %></font>
                                            <% end %>
                                        <% end %>
                                    <% end %>
                                </td>
                            <% end %>
                    <% end %>
                </tr>

                <tr>
                        <td>
                            <font>Target</font>
                            <% @scenarios.each do |scenario| %>
                                <% if scenario.category == @category %>
                                    <% target = get_target(scenario.id, @device, @resolution) %>
                                        <% if  !target.nil? and target.battery.to_f > 0 %>
                                            <td><font color=blue><%= target.battery %></font></td>
                                        <% else %>
                                            <td><font color=black></font></td>
                                        <% end %>
                                <% end %>
                            <% end %>
                        </td>
                </tr>
                <tr>
                    <td><font>&Delta;  Target</font></td>
                        <% @scenarios.each do |scenario| %>
                            <% if scenario.category == @category %>
                                <td>
                                    <% target = get_target(scenario.id, @device, @resolution) %>
                                    <% get_daily_power(@last_image, scenario.id, @device, @branch).each do |record| %>
                                        <% if target.nil? || target.battery.to_f == 0 %>
                                            <font color="#000000"></font>
                                        <% else %>
                                            <% diff = record.battery.to_f - target.battery.to_f %>
                                            <% if diff < 0 %>
                                                <font color=green><%= get_sub_power(diff.to_s) %></font>
                                            <% end %>
                                            <% if diff == 0 %>
                                                <font color="#000000"><%= get_sub_power(diff.to_s) %></font>
                                            <% end %>
                                            <% if diff > 0 %>
                                                <font color=FF0000><%= get_sub_power(diff.to_s) %></font>
                                            <% end %>
                                        <% end %>
                                    <% end %>
                                </td>
                            <% end %>
                        <% end %>
                </tr>

                 <tr>
                    <td rowspan="4">Vcc_Main</td>
                    <td>Today</td>
                        <% @scenarios.each do |scenario| %>
                                <% if scenario.category == @category %>
                                    <td>
                                        <% get_daily_power(@last_image, scenario.id, @device, @branch).each do |consumption| %>
                                                <%= get_sub_power(consumption.vcc_main) %>
                                        <% end %>
                                    </td>
                                <% end %>
                        <% end %>
                </tr>

                 <tr>
                    <td>&Delta;  <%= @latest_image %></td>
                    <% @scenarios.each do |scenario| %>
                            <% if scenario.category == @category %>
                                <td>
                                    <% get_daily_power(@last_image, scenario.id, @device, @branch).each do |consumption| %>
                                        <% if get_last_power(@latest_image, scenario.id, @device, @branch).nil? %>
                                            <font color="#000000"></font>
                                        <% else %>
                                            <% if (consumption.vcc_main.to_f - get_last_power(@latest_image, scenario.id, @device, @branch).vcc_main.to_f) < 0 %>
                                                <font color=green><%= get_sub_power((consumption.vcc_main.to_f - get_last_power(@latest_image, scenario.id, @device, @branch).vcc_main.to_f).to_s) %></font>
                                            <% end %>
                                            <% if (consumption.vcc_main.to_f - get_last_power(@latest_image, scenario.id, @device, @branch).vcc_main.to_f) == 0 %>
                                                <font color="#000000"><%= get_sub_power((consumption.vcc_main.to_f - get_last_power(@latest_image, scenario.id, @device, @branch).vcc_main.to_f).to_s) %></font>
                                            <% end %>
                                            <% if (consumption.vcc_main.to_f - get_last_power(@latest_image, scenario.id, @device, @branch).vcc_main.to_f) > 0 %>
                                                <font color=red><%= get_sub_power((consumption.vcc_main.to_f - get_last_power(@latest_image, scenario.id, @device, @branch).vcc_main.to_f).to_s) %></font>
                                             <% end %>
                                        <% end %>
                                    <% end %>
                                </td>
                            <% end %>
                    <% end %>
                </tr>

                <tr>
                        <td>
                            <font>Target</font>
                            <% @scenarios.each do |scenario| %>
                                <% if scenario.category == @category %>
                                    <% target = get_target(scenario.id, @device, @resolution) %>
                                        <% if  !target.nil? and target.vcc_main.to_f > 0 %>
                                            <td><font color=blue><%= target.vcc_main %></font></td>
                                        <% else %>
                                            <td><font color=black></font></td>
                                        <% end %>
                                <% end %>
                            <% end %>
                        </td>
                </tr>
                <tr>
                    <td><font>&Delta;  Target</font></td>
                        <% @scenarios.each do |scenario| %>
                            <% if scenario.category == @category %>
                                <td>
                                    <% target = get_target(scenario.id, @device, @resolution) %>
                                    <% get_daily_power(@last_image, scenario.id, @device, @branch).each do |record| %>
                                        <% if target.nil? || target.battery.to_f == 0 %>
                                            <font color="#000000"></font>
                                        <% else %>
                                            <% diff = record.vcc_main.to_f - target.vcc_main.to_f %>
                                            <% if diff < 0 %>
                                                <font color=green><%= get_sub_power(diff.to_s) %></font>
                                            <% end %>
                                            <% if diff == 0 %>
                                                <font color="#000000"><%= get_sub_power(diff.to_s) %></font>
                                            <% end %>
                                            <% if diff > 0 %>
                                                <font color=FF0000><%= get_sub_power(diff.to_s) %></font>
                                            <% end %>
                                        <% end %>
                                    <% end %>
                                </td>
                            <% end %>
                        <% end %>
                </tr>

                <tr>
                    <td colspan="2">FPS</td>
                    <% @scenarios.each do |scenario| %>
                            <% if scenario.category == @category %>
                                <td>
                                    <% get_daily_power(@last_image, scenario.id, @device, @branch).each do |consumption| %>
                                        <% @fps = get_sub_power(consumption.fps) %>
                                        <% if @fps != 0 %>
                                            <%= @fps %>
                                        <% end %>
                                    <% end %>
                                </td>
                            <% end %>
                    <% end %>
                </tr>
            </tbody>
        </table>
<% end %>