<div class="page-header">
		<h1><span>Daily Power</span></h1>
</div>
	<!-- Breadcrumbs -->
		<!--top-->
		<div id="top">
			<!-- Grid row-->
			<div class="row">
				<!--calendar-->
				<div id="datepicker">
				<article class="span2">
					<form>
						<fieldset>
							<div class="control-group">
								<div class="controls">
									<div class="input-append">
										<input class="datepicker" style="width:80px;"  value="08/06/12" type="text">
										<span class="add-on"><i class="icon-calendar"></i></span>
									</div>
								</div>
							</div>
						</fieldset>
					</form>
									
				</article>
				</div>
				<!--calendar-->
				<!--daylist-->
				<div id="daylist">
					<article class="span3">
								
							<span class="badge">10</span>
							<span class="badge badge-success">20</span>
							<span class="badge badge-warning">30</span>
							<span class="badge badge-important">60</span>
							<span class="badge badge-info">90</span>	
					</article>
				</div>
				<!--daylist-->					
			</div>
			<!--Grid row-->
		</div>
		<!--top-->

			<div align="center">
				<input type="radio" name="radio_chart" value="battery" checked="checked" onclick="show('container')">Battery
				<input type="radio" name="radio_chart" value="vcc_main" onclick="show('container_vcc_main')">Vcc_main
				<input id="editcheckboxId" type="checkbox">Edit Comments
			</div>
			<div class="Menubox">
    				<ul>
        					<li id="menu0" onclick="setTab('menu',0, 10)" class="">video</li>
       	 				<li id="menu1" onclick="setTab('menu',1, 10)" class="">lpm</li>
        					<li id="menu2" onclick="setTab('menu',2, 10)" class="">audio</li>
        					<li id="menu3" onclick="setTab('menu',3, 10)" class="">camera</li>
        					<li id="menu4" onclick="setTab('menu',4, 10)" class="">game</li>
        					<li id="menu5" onclick="setTab('menu',5, 10)" class="">UI</li>
        					<li id="menu6" onclick="setTab('menu',6, 10)" class="">wifi_bt</li>
        					<li id="menu7" onclick="setTab('menu',7, 10)" class="">telephony</li>
        					<li id="menu8" onclick="setTab('menu',8, 10)" class="">benchmark</li>
        					<li id="menu9" onclick="setTab('menu',9, 10)" class="hover">browsing</li>
    				</ul>
  			</div>
<br/>
<hr/>
		<!--Branch Power Battery-->
		<div class="table table-wuxia">
			<table>
				<thead>
					<tr bgcolor="#6dc22c">
						<th bgcolor="#6dc22c" colspan="2">2014-10-18</th>
						<th bgcolor="#6dc22c">1080p</th>
						<th bgcolor="#6dc22c">720p</th>
						<th bgcolor="#6dc22c">VGA</th>
						<th bgcolor="#6dc22c">home</th>
						<th bgcolor="#6dc22c">standby</th>
						<th bgcolor="#6dc22c">FM</th>
						<th bgcolor="#6dc22c">KKR</th>
						<th bgcolor="#6dc22c">AngryBirds</th>
						<th bgcolor="#6dc22c">mp3</th>
						<th bgcolor="#6dc22c">SMS</th>
						<th bgcolor="#6dc22c">Menu_Navigation</th>
						<th bgcolor="#6dc22c">WiFi_On</th>
						<th bgcolor="#6dc22c">WiFi_Conn</th>
						<th bgcolor="#6dc22c">BT_On</th>
						<th bgcolor="#6dc22c">BT_Conn</th>
						<th bgcolor="#6dc22c">Temple_Run2</th>
						<th bgcolor="#6dc22c">Audio_Record</th>
						<th bgcolor="#6dc22c">Record_720p<br />(IMX219)
						</th>
						<th bgcolor="#6dc22c">Record_1080p<br />(IMX219)
						</th>
						<th bgcolor="#6dc22c">Take_pictures<br />(IMX219)
						</th>
						<th bgcolor="#6dc22c">Record_720p<br />(IMX219)_2D
						</th>
						<th bgcolor="#6dc22c">Record_1080p<br />(IMX219)_2D
						</th>
						<th bgcolor="#6dc22c">Take_pictures<br />(IMX219)_2D
						</th>
					</tr>
				</thead>
				<tbody>
					<tr bgcolor="#FFFFFF">
						<td bgcolor="#FFFFFF" rowspan="5">Battery</td>
						<td bgcolor="#FFFFFF">Today</td>
						<td bgcolor="#FFFFFF">471.15<br /> <input id="10502"
							type="checkbox"
							onclick="addArr(10502,471.1511, 643.51996, '2014-10-18', 'pxa1928-kk4.4_beta1', 'Edenconsumption', '1080p', '24.219917', this)"></input>
						</td>
						<td bgcolor="#FFFFFF">273.43<br /> <input id="10505"
							type="checkbox"
							onclick="addArr(10505,273.43475, 320.6778, '2014-10-18', 'pxa1928-kk4.4_beta1', 'Edenconsumption', '720p', '30.052592', this)"></input>
						</td>
						<td bgcolor="#FFFFFF">201.77<br /> <input id="10507"
							type="checkbox"
							onclick="addArr(10507,201.77036, 210.72949, '2014-10-18', 'pxa1928-kk4.4_beta1', 'Edenconsumption', 'VGA', '30.056935', this)"></input>
						</td>
						<td bgcolor="#FFFFFF">131.96<br /> <input id="10500"
							type="checkbox"
							onclick="addArr(10500,131.96927, 75.11778, '2014-10-18', 'pxa1928-kk4.4_beta1', 'Edenconsumption', 'home', '', this)"></input>
						</td>
						<td bgcolor="#FFFFFF">5.31<br /> <input id="10501"
							type="checkbox"
							onclick="addArr(10501,5.3132906, 1.3182753, '2014-10-18', 'pxa1928-kk4.4_beta1', 'Edenconsumption', 'standby', '', this)"></input>
						</td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF">254.84<br /> <input id="10512"
							type="checkbox"
							onclick="addArr(10512,254.8437, 356.08542, '2014-10-18', 'pxa1928-kk4.4_beta1', 'Edenconsumption', 'AngryBirds', '59.901125', this)"></input>
						</td>
						<td bgcolor="#FFFFFF">19.36<br /> <input id="10520"
							type="checkbox"
							onclick="addArr(10520,19.3642, 16.022562, '2014-10-18', 'pxa1928-kk4.4_beta1', 'Edenconsumption', 'mp3', '', this)"></input>
						</td>
						<td bgcolor="#FFFFFF">241.94<br /> <input id="10509"
							type="checkbox"
							onclick="addArr(10509,241.94278, 274.75385, '2014-10-18', 'pxa1928-kk4.4_beta1', 'Edenconsumption', 'SMS', '', this)"></input>
						</td>
						<td bgcolor="#FFFFFF">192.60<br /> <input id="10511"
							type="checkbox"
							onclick="addArr(10511,192.60312, 199.14955, '2014-10-18', 'pxa1928-kk4.4_beta1', 'Edenconsumption', 'Menu_Navigation', '', this)"></input>
						</td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF">34.80<br /> <input id="10521"
							type="checkbox"
							onclick="addArr(10521,34.804638, 50.180923, '2014-10-18', 'pxa1928-kk4.4_beta1', 'Edenconsumption', 'Audio_Record', '', this)"></input>
						</td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
					</tr>
					<tr bgcolor="#FFFFFF">
						<td bgcolor="#FFFFFF">Today(aligned LCD(100mA), <a
							href="/lcd/query?soc=pxa1928dkb&resolution=VGA">+18.0</a>)
						</td>
						<td bgcolor="#FFFFFF">489.15</td>
						<td bgcolor="#FFFFFF">291.43</td>
						<td bgcolor="#FFFFFF">219.77</td>
						<td bgcolor="#FFFFFF">149.96</td>
						<td bgcolor="#FFFFFF">5.31</td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF">272.84</td>
						<td bgcolor="#FFFFFF">19.36</td>
						<td bgcolor="#FFFFFF">259.94</td>
						<td bgcolor="#FFFFFF">210.6</td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF">34.80</td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
					</tr>
					<tr bgcolor="#FFFFFF">
						<td bgcolor="#FFFFFF">Diff with 2014-10-17</td>
						<td bgcolor="#FFFFFF"><font color=FF0000>0.66</font></td>
						<td bgcolor="#FFFFFF"><font color=green>-1.63</font></td>
						<td bgcolor="#FFFFFF"><font color=FF0000>0.54</font></td>
						<td bgcolor="#FFFFFF"><font color=FF0000>0.29</font></td>
						<td bgcolor="#FFFFFF"><font color=FF0000>0.00</font></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"><font color=FF0000>0.65</font></td>
						<td bgcolor="#FFFFFF"><font color=FF0000>0.37</font></td>
						<td bgcolor="#FFFFFF"><font color=FF0000>4.02</font></td>
						<td bgcolor="#FFFFFF"><font color=green>-0.11</font></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"><font color=FF0000>0.17</font></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
					</tr>
					<tr bgcolor="#FFFFFF">
						<td bgcolor="#FFFFFF"><font color=blue>Target(720p)</font></td>
						<td bgcolor="#FFFFFF"><font color=blue> 260</font></td>
						<td bgcolor="#FFFFFF"><font color=blue> 200</font></td>
						<td bgcolor="#FFFFFF"><font color=blue> 195</font></td>
						<td bgcolor="#FFFFFF"><font color=blue> 140</font></td>
						<td bgcolor="#FFFFFF"><font color=blue> 2.02</font></td>
						<td bgcolor="#FFFFFF"><font color=blue> 13</font></td>
						<td bgcolor="#FFFFFF"><font color=blue> 290</font></td>
						<td bgcolor="#FFFFFF"><font color=blue> 280</font></td>
						<td bgcolor="#FFFFFF"><font color=blue> 18</font></td>
						<td bgcolor="#FFFFFF"><font color=blue> 180</font></td>
						<td bgcolor="#FFFFFF"><font color=blue> 200</font></td>
						<td bgcolor="#FFFFFF"><font color=blue> 2.7</font></td>
						<td bgcolor="#FFFFFF"><font color=blue> 3.8</font></td>
						<td bgcolor="#FFFFFF"><font color=blue> 3.0</font></td>
						<td bgcolor="#FFFFFF"><font color=blue> 3.2</font></td>
						<td bgcolor="#FFFFFF"><font color=black>N/A</font></td>
						<td bgcolor="#FFFFFF"><font color=black>N/A</font></td>
						<td bgcolor="#FFFFFF"><font color=black>N/A</font></td>
						<td bgcolor="#FFFFFF"><font color=black>N/A</font></td>
						<td bgcolor="#FFFFFF"><font color=black>N/A</font></td>
						<td bgcolor="#FFFFFF"><font color=black>N/A</font></td>
						<td bgcolor="#FFFFFF"><font color=black>N/A</font></td>
						<td bgcolor="#FFFFFF"><font color=black>N/A</font></td>
					</tr>

					<tr bgcolor="#FFFFFF">
						<td bgcolor="#FFFFFF"><font color=FF00ff>Gap To Target</font></td>
						<td bgcolor="#FFFFFF"><font color=FF00ff>229.15<br />(88.13%)
						</font>
						</td>
						<td bgcolor="#FFFFFF"><font color=FF00ff>91.43<br />(45.71%)
						</font></td>
						<td bgcolor="#FFFFFF"><font color=FF00ff>24.77<br />(12.70%)
						</font></td>
						<td bgcolor="#FFFFFF"><font color=FF00ff>9.96<br />(7.12%)
						</font></td>
						<td bgcolor="#FFFFFF"><font color=FF00ff>21.29<br />(1054.12%)
						</font></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"><font color=green>10.84<br />(-2.55%)
						</font></td>
						<td bgcolor="#FFFFFF"><font color=FF00ff>19.36<br />(107.57%)
						</font></td>
						<td bgcolor="#FFFFFF"><font color=FF00ff>79.94<br />(44.41%)
						</font></td>
						<td bgcolor="#FFFFFF"><font color=FF00ff>10.60<br />(5.30%)
						</font></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"><font color=black>N/A</font></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
					</tr>



					<tr bgcolor="#FFFFFF">
						<td bgcolor="#FFFFFF" rowspan="6">Vcc_Main</td>
						<td bgcolor="#FFFFFF">Today</td>
						<td bgcolor="#FFFFFF">643.51</td>
						<td bgcolor="#FFFFFF">320.67</td>
						<td bgcolor="#FFFFFF">210.72</td>
						<td bgcolor="#FFFFFF">75.11</td>
						<td bgcolor="#FFFFFF">1.31</td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF">356.08</td>
						<td bgcolor="#FFFFFF">16.02</td>
						<td bgcolor="#FFFFFF">274.75</td>
						<td bgcolor="#FFFFFF">199.14</td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF">50.18</td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
					</tr>

					<tr bgcolor="#FFFFFF">
						<td bgcolor="#FFFFFF">Diff with 2014-10-17</td>
						<td bgcolor="#FFFFFF"><font color=FF0000>0.98</font></td>
						<td bgcolor="#FFFFFF"><font color=green>-4.20</font></td>
						<td bgcolor="#FFFFFF"><font color=FF0000>0.80</font></td>
						<td bgcolor="#FFFFFF"><font color=FF0000>0.68</font></td>
						<td bgcolor="#FFFFFF"><font color=FF0000>0.02</font></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"><font color=FF0000>1.94</font></td>
						<td bgcolor="#FFFFFF"><font color=FF0000>1.03</font></td>
						<td bgcolor="#FFFFFF"><font color=FF0000>5.75</font></td>
						<td bgcolor="#FFFFFF"><font color=FF0000>0.23</font></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"><font color=FF0000>0.13</font></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
					</tr>

					<tr bgcolor="#FFFFFF">
						<td bgcolor="#FFFFFF"><font color=blue>Target(720p)</font></td>
						<td bgcolor="#FFFFFF"><font color=black>N/A</font></td>
						<td bgcolor="#FFFFFF"><font color=black>N/A</font></td>
						<td bgcolor="#FFFFFF"><font color=black>N/A</font></td>
						<td bgcolor="#FFFFFF"><font color=blue> 100</font></td>
						<td bgcolor="#FFFFFF"><font color=black>N/A</font></td>
						<td bgcolor="#FFFFFF"><font color=black>N/A</font></td>
						<td bgcolor="#FFFFFF"><font color=black>N/A</font></td>
						<td bgcolor="#FFFFFF"><font color=black>N/A</font></td>
						<td bgcolor="#FFFFFF"><font color=blue> 32</font></td>
						<td bgcolor="#FFFFFF"><font color=black>N/A</font></td>
						<td bgcolor="#FFFFFF"><font color=black>N/A</font></td>
						<td bgcolor="#FFFFFF"><font color=black>N/A</font></td>
						<td bgcolor="#FFFFFF"><font color=black>N/A</font></td>
						<td bgcolor="#FFFFFF"><font color=black>N/A</font></td>
						<td bgcolor="#FFFFFF"><font color=black>N/A</font></td>
						<td bgcolor="#FFFFFF"><font color=black>N/A</font></td>
						<td bgcolor="#FFFFFF"><font color=black>N/A</font></td>
						<td bgcolor="#FFFFFF"><font color=black>N/A</font></td>
						<td bgcolor="#FFFFFF"><font color=black>N/A</font></td>
						<td bgcolor="#FFFFFF"><font color=black>N/A</font></td>
						<td bgcolor="#FFFFFF"><font color=black>N/A</font></td>
						<td bgcolor="#FFFFFF"><font color=black>N/A</font></td>
						<td bgcolor="#FFFFFF"><font color=black>N/A</font></td>
					</tr>

					<tr bgcolor="#FFFFFF">
						<td bgcolor="#FFFFFF"><font color=FF00ff>Gap To Target</font></td>
						<td bgcolor="#FFFFFF"><font color=black>N/A</font></td>
						<td bgcolor="#FFFFFF"><font color=black>N/A</font></td>
						<td bgcolor="#FFFFFF"><font color=black>N/A</font></td>
						<td bgcolor="#FFFFFF"><font color=green>-24.88<br />(-33.12%)
						</font></td>
						<td bgcolor="#FFFFFF"><font color=black>N/A</font></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"><font color=black>N/A</font></td>
						<td bgcolor="#FFFFFF"><font color=green>-15.97<br />(-99.71%)
						</font></td>
						<td bgcolor="#FFFFFF"><font color=black>N/A</font></td>
						<td bgcolor="#FFFFFF"><font color=black>N/A</font></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"><font color=black>N/A</font></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
					</tr>


					<tr bgcolor="#FFFFFF">
						<td bgcolor="#FFFFFF">Power (mW)</td>
						<td bgcolor="#FFFFFF">893.20</td>
						<td bgcolor="#FFFFFF">334.82</td>
						<td bgcolor="#FFFFFF">214.52</td>
						<td bgcolor="#FFFFFF">75.27</td>
						<td bgcolor="#FFFFFF">0.92</td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF">387.10</td>
						<td bgcolor="#FFFFFF">15.05</td>
						<td bgcolor="#FFFFFF">276.05</td>
						<td bgcolor="#FFFFFF">268.37</td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF">51.46</td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
					</tr>

					<tr bgcolor="#FFFFFF">
						<td bgcolor="#FFFFFF">Power Diff with 2014-10-17</td>
						<td bgcolor="#FFFFFF"><font color=green>-4.41</font></td>
						<td bgcolor="#FFFFFF"><font color=green>-8.29</font></td>
						<td bgcolor="#FFFFFF"><font color=FF0000>3.47</font></td>
						<td bgcolor="#FFFFFF"><font color=FF0000>0.78</font></td>
						<td bgcolor="#FFFFFF"><font color=FF0000>0.01</font></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"><font color=FF0000>10.03</font></td>
						<td bgcolor="#FFFFFF"><font color=FF0000>0.20</font></td>
						<td bgcolor="#FFFFFF"><font color=FF0000>2.25</font></td>
						<td bgcolor="#FFFFFF"><font color=green>-0.95</font></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"><font color=green>-4.35</font></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
						<td bgcolor="#FFFFFF"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<!--Branch Power Battery-->



<!-- Scripts -->
<%= javascript_include_tag "navbar" %>
<%= javascript_include_tag "plugins/waypoints.min" %>
<%= javascript_include_tag "bootstrap/bootstrap-tooltip" %>
<%= javascript_include_tag "bootstrap/bootstrap-dropdown" %>
<%= javascript_include_tag "bootstrap/bootstrap-tab" %>
<%= javascript_include_tag "bootstrap/bootstrap-collapse" %>
<%= javascript_include_tag "plugins/fullCalendar/jquery.fullcalendar.min" %>
<%= javascript_include_tag "plugins/fullCalendar/gcal" %>
<%= javascript_include_tag "plugins/flot/jquery.flot" %>
<%= javascript_include_tag "plugins/flot/jquery.flot.pie" %>
<%= javascript_include_tag"plugins/datepicker/bootstrap-datepicker"%>
	<script>
		$(document).ready(function() {
			$('.datepicker').datepicker();
		});
	</script>
	<script>
	var  nowobj=null;
		function setTab(obj){
			if(nowobj!=null){
nowobj.style.backgroundColor = "";
			}
			obj.style.backgroundColor = "red";
			nowobj = obj;
					}
		
	</script>
<!-- Scripts-->