<% @scenarios = get_task_scenarios(@task_id) %>
<h2><%= @purpose %></h2>
<% @scenarios.each do |scenario| %>
	<article class="span6">
		<!-- table of task list -->
		<h3><%= get_scenario_name(scenario.power_scenario_id) %></h3>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Image Date</th>
					<th>Created At</th>
					<th>Battery</th>
					<th>Vcc_main</th>
					<th>FPS</th>
					<th>Compare</th>
					<th>Duty Cycle</th>
				</tr>
			</thead>
			<tbody>
				<% get_scenario_info(scenario.power_scenario_id,@task_id).each do |scenario_info| %>
					<tr>
						<td><%= scenario_info.image_date %></td>
						<td><%= scenario_info.created_at %></td>
						<td><%= get_sub_power(scenario_info.battery) %></td>
						<td><%= get_sub_power(scenario_info.vcc_main) %></td>
						<td><%= get_sub_power(scenario_info.fps) %></td>
						<td onclick="add_to_cart(this,'<%= scenario_info.id %>')"><span class="icon-refresh"></span></td>
						<td><button class="btn btn-flat btn-info" onclick="show_dc('<%= scenario_info.id %>')">DutyCycle</button></td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<!--/table of task list-->
	</article>
<% end %>