<pre class="html ui-resizable" id="<%= @power_record_id %>" ondblclick="remove(<%= @power_record_id %>)">
<h5 style="text-align: center; margin: 0 0 0 0;font-weight: bold;border-bottom:1px solid #333;"><%= @record.image_date %></h5>
<h5 style="text-align: center; margin: 0 0 0 0;font-weight: bold;border-bottom:1px solid #333;"><%= @record.platform %></h5>
<h5 style="text-align: center; margin: 0 0 0 0;font-weight: bold;border-bottom:1px solid #333;"><%= get_scenario_name(@record.power_scenario_id) %></h5>
<h5 style="text-align: center; margin: 0 0 0 0;font-weight: bold;border-bottom:1px solid #333;"><%= @record.purpose %></h5>
<h5 style="text-align: center; margin: 0 0 0 0;font-weight: bold;border-bottom:1px solid #333;">Battery:<%= @record.battery %>mA, Vcc_main:<%= @record.vcc_main %>mA</h5>
<h5 style="text-align: center; margin: 0 0 0 0;font-weight: bold;border-bottom:1px solid #333;"><%= get_user_name_by_id(@record.submitter) %></h5>
<h5 style="text-align: center; margin: 0 0 0 0;font-weight: bold;border-bottom:1px solid #333;">PT4 file: <a href="<%= @record.pt4_link %>" target="_blank">LINK</a></h5>
<%= @record.duty_cycle %>
</pre>