<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Welcome to APSE Home Page</title>
    <%= csrf_meta_tag %>
    <meta name="description" content="" />
    <meta name="author" content="Walking Pixels | www.walkingpixels.com" />
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS styles -->
    <%= stylesheet_link_tag    "blue" %>
    <%= stylesheet_link_tag    "jquery-ui"%>
    <!-- jQuery FullCalendar Styles -->
    <%= stylesheet_link_tag    "plugins/jquery.fullcalendar" %>
    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="img/icons/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/icons/apple-touch-icon-114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/icons/apple-touch-icon-72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" href="img/icons/apple-touch-icon-57-precomposed.png" />

    <!-- JS Libs -->
    <%= javascript_include_tag "application" %>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body >
        <!-- Main navigation bar -->
        <header class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container" >
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".user">
                        <span class="icon-user"></span>
                    </button>
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".navigation">
                        <span class="icon-chevron-down"></span>
                    </button>
                    <!-- <a class="brand" href="http://envato.walkingpixels.com/themes/wuxia/">Walking Pixels Wuxia Bootstrap admin template</a> -->
                    <nav class="nav-collapse navigation">
                        <ul class="nav" role="navigation">
                            <li class="active"><a href="/home/index" title="Home"><span class="icon-home"></span>home</a></li>
                            <li><a href="/tools/gerrit" title="gerrit"><span class="icon-sitemap"></span>gerrit</a></li>
                            <li><a href="/tools/buildbot" title="buildbot"><span class="icon-tasks"></span>buildbot</a></li>
                            <li><a href="/tools/rtvb" title="RTVB"><span class="icon-table"></span>RTVB</a></li>
                             <li><a href="/tools/smoketest" title="smoke test"><span class="icon-font"></span>smoke test</a></li>
                            <!--<li><a href="ui-buttons.html" title="coverity!"><span class="icon-magic"></span>coverity</a></li>-->
                            <li><a href="/tools/oldppat" title="Oldppat!"><span class="icon-plane"></span>Oldppat</a></li>
                            <li><a href="/tools/xref" title="xRef!"><span class="icon-pushpin"></span>xRef</a></li>
                            <li><a href="/daily/index?device=pxa1936dkb&branch=lp5.0_master" title="PPAT!"><span class="icon-refresh"></span>PPAT</a></li>
                            <li class="divider-vertical"></li>
                            <li><a href="#" title="Buttons in navbar!" class="btn-wuxia-navbar"><div class="btn btn-wuxia"><span class="icon-key"></span> Widgets</div></a></li>
                        </ul>
                    </nav>
                    <nav class="nav-collapse user" >
                        <div class="user-info pull-right">

                            <div class="btn-group">
                                <% if get_cur_user %>
                                <a class="btn dropdown-toggle" href="#">
                                    <div><strong><%= get_cur_user %></strong></div>
                                    <span class="caret"></span>
                                </a>
                                <% else %>
                                <a class="btn dropdown-toggle" href="/log/in">
                                    <div><strong>Log in</strong></div>
                                    <span class="caret"></span>
                                </a>
                                <% end %>
                                <ul class="dropdown-menu">
                                    <li><a href=""><span class="icon-cogs"></span> Account settings</a></li>
                                    <li><a href=""><span class="icon-bell"></span> Preferences</a></li>
                                    <li><a href=""><span class="icon-envelope"></span> Email notifications</a></li>
                                    <li class="divider"></li>
                                    <li><a href="/log/out"><span class="icon-signout"></span> Logout</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </header>

        <!-- /Main navigation bar -->
        <div class="container" role="main">
            <div class="content">
            <%= yield %>
            </div>
        </div>
</body>
</html>
