<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Welcome to APSE Home Page</title>
    <%= csrf_meta_tag %>
    <meta name="description" content="" />
    <meta name="author" content="Walking Pixels | www.walkingpixels.com" />
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS styles -->
    <%= stylesheet_link_tag    "blue" %>
    <%= stylesheet_link_tag    "ppat"%>
    <%= stylesheet_link_tag    "daily"%>
    <%= stylesheet_link_tag    "home"%>
    <%= stylesheet_link_tag    "mbExtruder"%>
    <!-- jQuery FullCalendar Styles -->
    <%= stylesheet_link_tag    "plugins/jquery.fullcalendar" %>
    <%= stylesheet_link_tag    "plugins/jquery.plupload.queue"%>
    <%= stylesheet_link_tag    "plugins/jquery.ui.plupload"%>

    <!-- JS Libs -->
    <%= javascript_include_tag "application" %>

    <script>
        $(document).ready(function(){

            // Navbar tooltips
            $('.navbar [title]').tooltip({
                placement: 'bottom'
            });

            // Content tooltips
            $('[role=main] [title]').tooltip({
                placement: 'top'
            });

            // Dropdowns
            $('.dropdown-toggle').dropdown();

        });
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
</head>
<body>


        <!-- Main navigation bar -->
        <header class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".user">
                        <span class="icon-user"></span>
                    </button>
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".navigation">
                        <span class="icon-chevron-down"></span>
                    </button>
                    <!-- <a class="brand" href="http://envato.walkingpixels.com/themes/wuxia/">Walking Pixels Wuxia Bootstrap admin template</a> -->
                    <nav class="nav-collapse navigation">
                        <ul class="nav" role="navigation">
                            <li class="active"><a href="/home/index" title="Home"><span class="icon-home"></span>Home</a></li>
                            <li><a href="/tools/gerrit" title="gerrit" target="_blank"><span class="icon-sitemap"></span>Gerrit</a></li>
                            <li><a href="/daily/index?device=pxa1936dkb_tz&branch=lp5.0_master" title="PPAT"><span class="icon-signal"></span>PPAT</a></li>
                            <li><a href="/tools/buildbot" title="buildbot"><span class="icon-tasks"></span>Buildbot</a></li>
                            <li><a href="/tools/rtvb" title="RTVB"><span class="icon-table"></span>RTVB</a></li>
                             <li><a href="/tools/smoketest" title="smoke test"><span class="icon-font"></span>Smoke Test</a></li>
                            <li><a href="/tools/xref" title="xRef!"><span class="icon-pushpin"></span>xRef</a></li>
                            <li  class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                   <span class="icon-plus"></span>More
                                   <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="http://apse.marvell.com/atf" target="_blank"><span class="icon-group"></span>ATF</a></li>
                                    <li><a href="http://apse.marvell.com/perf" target="_blank"><span class="icon-bell"></span>PREF</a></li>
                                    <li><a href="http://apse.marvell.com/coverity" target="_blank"><span class="icon-exclamation-sign"></span>Coverity</a></li>
                                    <li><a href="http://apse.marvell.com/autobuild" target="_blank"><span class="icon-hdd"></span>AutoBuild</a></li>
                                    <li><a href="http://rqe.marvell.com/" target="_blank"><span class="icon-cloud"></span>RQE</a></li>
                                    <li><a href="http://apse.marvell.com/pqm" target="_blank"><span class=" icon-dashboard"></span>PQM</a></li>
                                    <li><a href="http://sh-gfxrank.marvell.com/" target="_blank"><span class="icon-tasks"></span>GFX Rank</a></li>
                                    <li><a href="http://sc-sp01/sites/SH-HW/SH-HWAudit/UserForms/WeeklyAudit.aspx" target="_blank"><span class="icon-globe"></span>HW Audit</a></li>
                                    <li><a href="https://ewiki.marvell.com/display/APSESH/BuildRelease_Home" target="_blank"><span class="icon-globe"></span>E-wiki</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <nav class="nav-collapse user" >
                        <div class="user-info pull-right">
                                  <ul class="nav navbar-nav">
                                    <% if get_cur_user %>
                                     <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                           <%= get_cur_user %>
                                           <b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu">
                                           <li><a href="/log/out"><span class="icon-signout"></span> Logout</a></li>
                                        </ul>
                                     </li>
                                     <% else %>
                                     <li><a href="/log/in">Login</a></li>
                                     <% end %>
                                  </ul>
                            </div>
                    </nav>
                </div>
            </div>
        </header>
        <!-- /Main navigation bar -->
        <div class="container" role="main">

            <!-- Secondary navigation -->
            <div class="nav-secondary">
                <nav>
                    <ul>
                        <li role="presentation" class="dropdown wuxify-me">
                            <a class="dropdown-toggle wuxify-me" data-toggle="dropdown" href="#" aria-expanded="false">
                              <span class="icon-calendar"></span>Power<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="dropdown-submenu"> <a href="/daily/index?device=pxa1936dkb_tz&branch=lp5.1_master">HELAN3</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/daily/index?device=pxa1936dkb_tz&branch=lp5.1_master">lp5.1_master</a>
                                        </li>
                                        <li><a href="/daily/index?device=pxa1936dkb_tz&branch=lp5.1_k314_alpha1">lp5.1_k314_alpha1</a>
                                        </li>
                                        <li><a href="/daily/index?device=pxa1936dkb_tz&branch=lp5.0_master">lp5.0_master</a>
                                        </li>
                                        <li><a href="/daily/index?device=pxa1936dkb_tz&branch=lp5.0_k314_alpha1">lp5.0_k314_alpha1</a>
                                        </li>
                                        <li><a href="/daily/index?device=pxa1936dkb_tz&branch=lp5.0_k314_alpha2">lp5.0_k314_alpha2</a>
                                        </li>
                                        <li><a href="/daily/index?device=pxa1936dkb_tz&branch=lp5.0_k314_beta1">lp5.0_k314_beta1</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="dropdown-submenu"> <a href="/daily/index?device=pxa1908dkb_tz&branch=lp5.0_master">ULC1</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/daily/index?device=pxa1908dkb_tz&branch=kk4.4_master">kk4.4_master</a>
                                        </li>
                                        <li><a href="/daily/index?device=pxa1908dkb_tz&branch=lp5.0_master">lp5.0_master</a>
                                        </li>
                                        <li><a href="/daily/index?device=pxa1908dkb_tz&branch=lp5.1_master">lp5.1_master</a>
                                        </li>
                                        <li><a href="/daily/index?device=pxa1908dkb_tz&branch=kk4.4_k314_alpha1">kk4.4_k314_alpha1</a>
                                        </li>
                                        <li><a href="/daily/index?device=pxa1908dkb_tz&branch=lp5.1_k314_alpha1">lp5.1_k314_alpha1</a>
                                        </li>
                                        <li><a href="/daily/index?device=pxa1908dkb_tz&branch=lp5.0_k314_alpha2">lp5.0_k314_alpha2</a>
                                        </li>
                                        <li><a href="/daily/index?device=pxa1908dkb_tz&branch=kk4.4_beta1">kk4.4_beta1</a>
                                        </li>
                                        <li><a href="/daily/index?device=pxa1908dkb_tz&branch=lp5.0_k314_beta1">lp5.0_k314_beta1</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu"> <a href="/daily/index?device=pxa1908FF_cmcc&branch=kk4.4_beta1">ULC1FF</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/daily/index?device=pxa1908FF_cmcc&branch=kk4.4_beta1">kk4.4_beta1</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu"> <a href="/daily/index?device=pxa1928dkb_tz&branch=lp5.1_master">EDEN</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/daily/index?device=pxa1928dkb_tz&branch=lp5.1_master">lp5.1_master</a>
                                        </li>
                                        <li><a href="/daily/index?device=pxa1928dkb_tz&branch=lp5.0_master">lp5.0_master</a>
                                        </li>
                                        <li><a href="/daily/index?device=pxa1928dkb_tz&branch=kk4.4_master">kk4.4_master</a>
                                        </li>
                                        <li><a href="/daily/index?device=pxa1928dkb_tz&branch=kk4.4_beta1">kk4.4_beta1</a>
                                        </li>
                                        <li><a href="/daily/index?device=pxa1928dkb_tz&branch=kk4.4_beta2">kk4.4_beta2</a>
                                        </li>
                                        <li><a href="/daily/index?device=pxa1928dkb_tz&branch=kk4.4_alpha2">kk4.4_alpha2</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="dropdown-submenu"> <a href="/daily/index?device=pxa1928ff_tz&branch=lp5.1_master">EDENFF</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/daily/index?device=pxa1928ff_tz&branch=lp5.1_master">lp5.1_master</a>
                                        </li>
                                        <li><a href="/daily/index?device=pxa1928ff_tz&branch=lp5.0_master">lp5.0_master</a>
                                        </li>
                                        <li><a href="/daily/index?device=pxa1928ff_tz&branch=lp5.0_alpha1">lp5.0_alpha1</a>
                                        </li>
                                        <li><a href="/daily/index?device=pxa1928ff_tz&branch=kk4.4_master">kk4.4_master</a>
                                        </li>
                                        <li><a href="/daily/index?device=pxa1928ff_tz&branch=kk4.4_beta2">kk4.4_beta2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu"> <a href="/daily/index?device=pxa1936ff_tz&branch=lp5.1_master">HELAN3FF</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/daily/index?device=pxa1936ff_tz&branch=lp5.1_master">lp5.1_master</a>
                                        </li>
                                        <li><a href="/daily/index?device=pxa1936ff_tz&branch=lp5.1_k314_beta1">lp5.1_k314_beta1</a>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                          </li>
                        <li><a class="wuxify-me" href="/thermal/index"><span class="icon-align-left"></span>Thermal</a></li>
                        <li><a class="wuxify-me" href="/ondemand/index"><span class="icon-random"></span>Ondemand</a></li>
                        <li><a class="wuxify-me" href="/compare/index"><span class="icon-align-left"></span>Compare</a></li>
                        <li><a class="wuxify-me" href="/query/index"><span class="icon-calendar"></span>Query</a></li>
                        <li><a class="wuxify-me" href="/trigger/index"><span class="icon-th"></span>Trigger</a></li>
                    </ul>
                </nav>
            </div>
            <!-- /Secondary navigation -->


            <!-- cart -->
            <div id="extruderRight" class="{title:'Compare List', url:'/carts'}"></div>
            <script type="text/javascript">
                $(function(){

                    $("#extruderRight").buildMbExtruder({
                        position:"right",
                        width:300,
                        extruderOpacity:.8,
                        textOrientation:"tb",
                        onExtOpen:function(){},
                        onExtContentLoad:function(){},
                        onExtClose:function(){}
                    });
                });
            </script>
            <div class="content">
            <%= yield %>
            </div>
        </div>
</body>
</html>
